http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Xylobolus+subpileatus
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"2553185","name":"Xylobolus subpileatus (Berk. & M.A.Curtis)
        Boidin","canonicalName":"Xylobolus subpileatus","authorship":"(Berk. & M.A.Curtis)
        Boidin","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Xylobolus","specificEpithet":"subpileatus","type":"SCIENTIFIC","formattedName":"<i>Xylobolus</i>
        <i>subpileatus</i> (Berk. & M.A.Curtis) Boidin"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1144","name":"Russulales","rank":"ORDER"},{"key":"3279","name":"Stereaceae","rank":"FAMILY"},{"key":"2552368","name":"Xylobolus","rank":"GENUS"},{"key":"2553185","name":"Xylobolus
        subpileatus","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":10,"timings":{"nameNRank":0,"sciNameMatch":10,"nameParse":1,"luceneMatch":9}},"synonym":false,"left":123100,"right":123102}'
  recorded_at: 2026-06-17 17:59:12
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&hasGeospatialIssue=FALSE&occurrenceStatus=PRESENT&limit=20&offset=0&taxonKey=2553185
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '17'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":1202,"results":[{"key":6131559689,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2026-06-05T18:15:48.952+00:00","lastParsed":"2026-06-12T02:22:25.554+00:00","crawlId":595,"projectId":"https://www.inaturalist.org/projects/winter-continental-mycoblitz-2026","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/license":"https://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/created":"2026-01-07T11:01:54-08:00","http://purl.org/dc/terms/format":"image/jpeg","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/606505583/original.jpg","http://purl.org/dc/terms/rightsHolder":"Debbie
        Dover","http://rs.tdwg.org/dwc/terms/catalogNumber":"606505583","http://purl.org/dc/ter[...]
