http_interactions:
- request:
    method: GET
    uri: https://verifier.globalnames.org/api/v1/verifications/Boletus%20edulis?data_sources=1%7C12&all_matches=false&capitalize=false&species_group=false&fuzzy_uninomial=false&stats=false
  response:
    status: 200
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
    body:
      string: |
        {"metadata":{"namesNumber":1,"vernaculars":[""],"dataSources":[1,12],"statsNamesNum":1},"names":[{"id":"6ceb8f7b-9ea8-59fa-8508-e8c22836ec12","name":"Boletus edulis","cardinality":2,"matchType":"Exact","bestResult":{"dataSourceId":1,"dataSourceTitleShort":"Catalogue of Life","curation":"Curated","recordId":"MCH9","outlink":"https://www.catalogueoflife.org/data/taxon/MCH9","entryDate":"2026-06-04","sortScore":9.412152479890551,"matchedNameID":"f7f8cc09-b2ec-594e-b528-2168295e4723","matchedName":"Boletus edulis Bull.","matchedCardinality":2,"matchedCanonicalSimple":"Boletus edulis","matchedCanonicalFull":"Boletus edulis","currentRecordId":"MCH9","currentNameId":"f7f8cc09-b2ec-594e-b528-2168295e4723","currentName":"Boletus edulis Bull.","currentCardinality":2,"currentCanonicalSimple":"Boletus edulis","currentCanonicalFull":"Boletus edulis","taxonomicStatus":"Accepted","isSynonym":false,"classificationPath":"Eukaryota|Fungi|Basidiomycota|Agaricomycetes|Boletales|Boletaceae|Boletus|Boletus edulis","classificationRanks":"domain|kingdom|phylum|class|order|family|genus|species","classificationIds":"CS5HF|F|BM|7C|TS|79Z|62HH2|MCH9","editDistance":0,"stemEditDistance":0,"matchType":"Exact","scoreDetails":{"cardinalityScore":1,"infraSpecificRankScore":0,"fuzzyLessScore":1,"curatedDataScore":1,"authorMatchScore":0.14285715,"acceptedNameScore":1,"parsingQualityScore":1}},"dataSourcesNum":2,"dataSourcesIds":[1,12],"curation":"Curated"}]}
  recorded_at: 2026-06-17 17:54:02
- request:
    method: POST
    uri: https://api.gbif.org/v1/parser/name
    body:
      string: '["Boletus edulis Bull."]'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: '[{"scientificName":"Boletus edulis Bull.","type":"SCIENTIFIC","genusOrAbove":"Boletus","specificEpithet":"edulis","authorship":"Bull.","parsed":true,"parsedPartially":false,"canonicalName":"Boletus
        edulis","canonicalNameWithMarker":"Boletus edulis","canonicalNameComplete":"Boletus
        edulis Bull.","rankMarker":"sp."}]'
  recorded_at: 2026-06-17 17:54:02
[...]
- request:
    method: POST
    uri: https://api.gbif.org/v1/parser/name
    body:
      string: '["Boletus edulis Bull."]'
  response:
    status: 201
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
    body:
      string: '[{"scientificName":"Boletus edulis Bull.","type":"SCIENTIFIC","genusOrAbove":"Boletus","specificEpithet":"edulis","authorship":"Bull.","parsed":true,"parsedPartially":false,"canonicalName":"Boletus
        edulis","canonicalNameWithMarker":"Boletus edulis","canonicalNameComplete":"Boletus
        edulis Bull.","rankMarker":"sp."}]'
  recorded_at: 2026-06-17 17:54:03
recorded_with: VCR-vcr/2.1.0
