http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Basidiodendron+eyrei
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"2553838","name":"Basidiodendron eyrei (Wakef.) Luck-Allen","canonicalName":"Basidiodendron
        eyrei","authorship":"(Wakef.) Luck-Allen","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Basidiodendron","specificEpithet":"eyrei","type":"SCIENTIFIC","formattedName":"<i>Basidiodendron</i>
        <i>eyrei</i> (Wakef.) Luck-Allen"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1062","name":"Auriculariales","rank":"ORDER"},{"key":"7668534","name":"Basidiodendron","rank":"GENUS"},{"key":"2553838","name":"Basidiodendron
        eyrei","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":9,"timings":{"nameNRank":0,"sciNameMatch":9,"nameParse":0,"luceneMatch":9}},"synonym":false,"left":81861,"right":81864}'
  recorded_at: 2026-06-17 13:45:55
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Fomes+fomentarius
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"8068867","name":"Fomes fomentarius (L.) Fr.","canonicalName":"Fomes
        fomentarius","authorship":"(L.) Fr.","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Fomes","specificEpithet":"fomentarius","type":"SCIENTIFIC","formattedName":"<i>Fomes</i>
        <i>fomentarius</i> (L.) Fr."},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1145","name":"Polyporales","rank":"ORDER"},{"key":"3286","name":"Polyporaceae","rank":"FAMILY"},{"key":"2518074","name":"Fomes","rank":"GENUS"},{"key":"8068867","name":"Fomes
        fomentarius","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":98,"timeTaken":8,"timings":{"nameNRank":0,"sciNameMatch":8,"nameParse":1,"luceneMatch":7}},"synonym":false,"left":109161,"right":109161}'
  recorded_at: 2026-06-17 13:45:56
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Mycena+renati
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"4911813","name":"Mycena renati Quél.","canonicalName":"Mycena
        renati","authorship":"Quél.","rank":"SPECIES","status":"ACCEPTED","genericName":"Mycena","specificEpithet":"renati","type":"SCIENTIFIC","formattedName":"<i>Mycena</i>
        <i>renati</i> Quél."},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1499","name":"Agaricales","rank":"ORDER"},{"key":"4180","name":"Mycenaceae","rank":"FAMILY"},{"key":"5955261","name":"Mycena","rank":"GENUS"},{"key":"4911813","name":"Mycena
        renati","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":13,"timings":{"nameNRank":0,"sciNameMatch":14,"nameParse":1,"luceneMatch":13}},"synonym":false,"left":64888,"right":64889}'
  recorded_at: 2026-06-17 13:45:56
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Xylodon+flaviporus
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"9366699","name":"Xylodon flaviporus (Berk. & M.A.Curtis
        ex Cooke) Riebesehl & Langer","canonicalName":"Xylodon flaviporus","authorship":"(Berk.
        & M.A.Curtis ex Cooke) Riebesehl & Langer","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Xylodon","specificEpithet":"flaviporus","type":"SCIENTIFIC","formattedName":"<i>Xylodon</i>
        <i>flaviporus</i> (Berk. & M.A.Curtis ex Cooke) Riebesehl & Langer"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1304","name":"Hymenochaetales","rank":"ORDER"},{"key":"3298","name":"Schizoporaceae","rank":"FAMILY"},{"key":"2519089","name":"Xylodon","rank":"GENUS"},{"key":"9366699","name":"Xylodon
        flaviporus","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":9,"timings":{"nameNRank":0,"sciNameMatch":9,"nameParse":1,"luceneMatch":8}},"synonym":false,"left":102669,"right":102674}'
  recorded_at: 2026-06-17 13:45:56
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Stypella+subgelatinosa
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"2553772","name":"Stypella subgelatinosa (P.Karst.)
        P.Roberts","canonicalName":"Stypella subgelatinosa","authorship":"(P.Karst.)
        P.Roberts","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Stypella","specificEpithet":"subgelatinosa","type":"SCIENTIFIC","formattedName":"<i>Stypella</i>
        <i>subgelatinosa</i> (P.Karst.) P.Roberts"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1062","name":"Auriculariales","rank":"ORDER"},{"key":"8616703","name":"Stypella","rank":"GENUS"},{"key":"2553772","name":"Stypella
        subgelatinosa","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":11,"timings":{"nameNRank":0,"sciNameMatch":11,"nameParse":0,"luceneMatch":11}},"synonym":false,"left":82237,"right":82239}'
  recorded_at: 2026-06-17 13:45:56
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Sistotrema+raduloides
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"5249676","name":"Sistotrema raduloides (P.Karst.)
        Donk","canonicalName":"Sistotrema raduloides","authorship":"(P.Karst.) Donk","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Sistotrema","specificEpithet":"raduloides","type":"SCIENTIFIC","formattedName":"<i>Sistotrema</i>
        <i>raduloides</i> (P.Karst.) Donk"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1300","name":"Cantharellales","rank":"ORDER"},{"key":"8460","name":"Hydnaceae","rank":"FAMILY"},{"key":"10494302","name":"Sistotrema","rank":"GENUS"},{"key":"5249676","name":"Sistotrema
        raduloides","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":13,"timings":{"nameNRank":0,"sciNameMatch":13,"nameParse":1,"luceneMatch":12}},"synonym":false,"left":93960,"right":93961}'
  recorded_at: 2026-06-17 13:45:56
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/2553838/iucnRedListCategory?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"category":"NOT_EVALUATED","scientificName":"Basidiodendron eyrei
        (Wakef.) Luck-Allen","taxonomicStatus":"ACCEPTED","code":"NE"}'
  recorded_at: 2026-06-17 13:45:56
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/5249676/iucnRedListCategory?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"category":"NOT_EVALUATED","scientificName":"Sistotrema raduloides
        (P.Karst.) Donk","taxonomicStatus":"ACCEPTED","code":"NE"}'
  recorded_at: 2026-06-17 13:45:57
recorded_with: VCR-vcr/2.1.0
