http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3ABasidiodendron+eyrei&per-page=1
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9450'
      x-ratelimit-remaining-usd: '0.945'
      x-ratelimit-reset: '36651'
    body:
      string: '{"meta": {"count": 74, "db_response_time_ms": 15, "page": 1, "per_page":
        1, "groups_count": null, "x_query": {"oql": "works where title/abstract has
        (Basidiodendron eyrei)", "oqo": {"get_rows": "works", "filter_rows": [{"column_id":
        "title_and_abstract.search", "value": "Basidiodendron eyrei", "operator":
        "has"}], "per_page": 1}, "url": "/works?filter=title_and_abstract.search:Basidiodendron
        eyrei&per_page=1"}, "cost_usd": 0.001}, "results": [{"id": "https://openalex.org/W3095905241",
        "doi": "https://doi.org/10.1139/cjb-2020-0045", "title": "Studies in <i>Basidiodendron
        eyrei</i> and similar-looking taxa (Auriculariales, Basidiomycota)", "display_name":
        "Studies in <i>Basidiodendron eyrei</i> and similar-looking taxa (Auriculariales,
        Basidiomycota)", "relevance_score": 360.19614, "publication_year": 2020, "publication_date":
        "2020-11-01", "ids": {"openalex": "https://openalex.org/W3095905241", "doi":
        "https://doi.org/10.1139/cjb-2020-0045", "mag": "3095905241"}, "language":
        "en", "primary_location": {"id": "doi:10.1139/cjb-2020-0045", "is_oa": false,
        "landing_page_url": "https://doi.org/10.1139/cjb-2020-0045", "pdf_url": null,
        "source": {"id": "https://openalex.org/S118554560", "display_name": "Botany",
        "issn_l": "1916-2790", "issn": ["1916-2790", "1916-2804"], "is_oa": false,
        "is_in_doaj": false, "is_core": true, "host_organization": "https://openalex.org/P4310312929",
        "host_organization_name": "Canadian Science Publishing", "host_organization_lineage":
        ["https://openalex.org/P4310312929"], "host_organization_lineage_names": ["Canadian
        Science Publishing"], "type": "journal"}, "license": null, "license_id": null,
        "version": "publishedVersion", "is_accepted": true, "is_published": true,
        "raw_source_name": "Botany", "raw_type": "journal-article"}, "type": "article",
        "indexed_in": ["crossref"], "open_access": {"is_oa": true, "oa_status": "green",
        "oa_url": "http://hdl.handle.net/10138/323989", "any_repository_has_fulltext":
        true}, "authorships": [{"author_position": "first", "author": {"id": "https://openalex.org/A5091412127",
        "display_name": "Viacheslav Spirin", "orcid": "https://orcid.org/0000-0001-5436-6997"},
        "institutions": [{"id": "https://openalex.org/I4210139717", "display_name":
        "Finnish Museum of Natural History", "ror": "https://ror.org/03tcx6c30", "country_code":
        "FI", "type": "archive", "lineage": ["https://openalex.org/I133731052", "https://openalex.org/I4210139717"]}],
        "countries": ["FI"], "is_corresponding": false, "raw_author_name": "Viacheslav
        Spirin", "raw_affiliation_strings": ["Botany Unit (Mycology), Finnish Museum
        of Natural History, University of Helsinki. P.O. Box 7, FI-00014 Helsinki,
        Finland"], "raw_orcid": null, "affiliations": [{"raw_affiliation_string":
        "Botany Unit (Mycology), Finnish Museum of Natural History, University of
        Helsinki. P.O. Box 7, FI-00014 Helsinki, Finland", "institution_ids": ["https://openalex.org/I4210139717"]}]},
        {"author_position": "middle", "author": {"id": "https://openalex.org/A5038843045",
        "display_name": "Vera Malysheva", "orcid": "https://orcid.org/0000-0002-7403-9616"},
        "institutions": [{"id": "https://openalex.org/I4210165334", "display_name":
        "Komarov Botanical Institute of the Russian Academy of Sciences", "ror": "https://ror.org/05nb54h69",
        "country_code": "RU", "type": "facility", "lineage": ["https://openalex.[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3AFomes+fomentarius&per-page=1
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9440'
      x-ratelimit-remaining-us[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3AMycena+renati&per-page=1
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9430'
      x-ratelimit-remaining-usd: '[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3AXylodon+flaviporus&per-page=1
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9420'
      x-ratelimit-remaining-u[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3AStypella+subgelatinosa&per-page=1
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9410'
      x-ratelimit-remaini[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3ASistotrema+raduloides&per-page=1
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9400'
      x-ratelimit-remainin[...]
