http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Trametopsis+brasiliensis&verbose=FALSE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"9696622","name":"Trametopsis brasiliensis (Ryvarden
        & de Meijer) Gómez-Mont. & Robledo","canonicalName":"Trametopsis brasiliensis","authorship":"(Ryvarden
        & de Meijer) Gómez-Mont. & Robledo","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Trametopsis","specificEpithet":"brasiliensis","type":"SCIENTIFIC","formattedName":"<i>Trametopsis</i>
        <i>brasiliensis</i> (Ryvarden & de Meijer) Gómez-Mont. & Robledo"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1145","name":"Polyporales","rank":"ORDER"},{"key":"3292639","name":"Irpicaceae","rank":"FAMILY"},{"key":"2546001","name":"Trametopsis","rank":"GENUS"},{"key":"9696622","name":"Trametopsis
        brasiliensis","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":12,"timings":{"nameNRank":0,"sciNameMatch":13,"nameParse":1,"luceneMatch":12}},"additionalStatus":[{"clbDatasetKey":"53131","datasetAlias":"IUCN","datasetKey":"19491596-35ae-4a91-9a98-85cf505f1bd3","status":"VULNERABLE","statusCode":"VU","sourceId":"209595252"}],"synonym":false,"left":106376,"right":106376}'
  recorded_at: 2026-06-17 13:38:25
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&occurrenceStatus=PRESENT&limit=0&offset=0&facetLimit=&taxonKey=9696622
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '17'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1,"results":[],"facets":[]}'
  recorded_at: 2026-06-17 13:38:25
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&hasGeospatialIssue=FALSE&occurrenceStatus=PRESENT&limit=5&offset=0&decimalLatitude=47.958288825009%2C49.754911174991&decimalLongitude=0.986873111807337%2C3.71752688819266&taxonKey=9696622
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '16'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2026-06-17 13:38:26
recorded_with: VCR-vcr/2.1.0
