http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Basidiodendron+eyrei
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"2553838","name":"Basidiodendron eyrei (Wakef.) Luck-Allen","canonicalName":"Basidiodendron
        eyrei","authorship":"(Wakef.) Luck-Allen","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Basidiodendron","specificEpithet":"eyrei","type":"SCIENTIFIC","formattedName":"<i>Basidiodendron</i>
        <i>eyrei</i> (Wakef.) Luck-Allen"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1062","name":"Auriculariales","rank":"ORDER"},{"key":"7668534","name":"Basidiodendron","rank":"GENUS"},{"key":"2553838","name":"Basidiodendron
        eyrei","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":13,"timings":{"nameNRank":0,"sciNameMatch":14,"nameParse":1,"luceneMatch":13}},"synonym":false,"left":81861,"right":81864}'
  recorded_at: 2026-06-17 13:38:26
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Fomes+fomentarius
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"8068867","name":"Fomes fomentarius (L.) Fr.","canonicalName":"Fomes
        fomentarius","authorship":"(L.) Fr.","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Fomes","specificEpithet":"fomentarius","type":"SCIENTIFIC","formattedName":"<i>Fomes</i>
        <i>fomentarius</i> (L.) Fr."},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1145","name":"Polyporales","rank":"ORDER"},{"key":"3286","name":"Polyporaceae","rank":"FAMILY"},{"key":"2518074","name":"Fomes","rank":"GENUS"},{"key":"8068867","name":"Fomes
        fomentarius","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":98,"timeTaken":8,"timings":{"nameNRank":0,"sciNameMatch":8,"nameParse":0,"luceneMatch":8}},"synonym":false,"left":109161,"right":109161}'
  recorded_at: 2026-06-17 13:38:26
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Mycena+renati
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"4911813","name":"Mycena renati Quél.","canonicalName":"Mycena
        renati","authorship":"Quél.","rank":"SPECIES","status":"ACCEPTED","genericName":"Mycena","specificEpithet":"renati","type":"SCIENTIFIC","formattedName":"<i>Mycena</i>
        <i>renati</i> Quél."},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1499","name":"Agaricales","rank":"ORDER"},{"key":"4180","name":"Mycenaceae","rank":"FAMILY"},{"key":"5955261","name":"Mycena","rank":"GENUS"},{"key":"4911813","name":"Mycena
        renati","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":17,"timings":{"nameNRank":0,"sciNameMatch":18,"nameParse":1,"luceneMatch":17}},"synonym":false,"left":64888,"right":64889}'
  recorded_at: 2026-06-17 13:38:26
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Xylodon+flaviporus
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"9366699","name":"Xylodon flaviporus (Berk. & M.A.Curtis
        ex Cooke) Riebesehl & Langer","canonicalName":"Xylodon flaviporus","authorship":"(Berk.
        & M.A.Curtis ex Cooke) Riebesehl & Langer","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Xylodon","specificEpithet":"flaviporus","type":"SCIENTIFIC","formattedName":"<i>Xylodon</i>
        <i>flaviporus</i> (Berk. & M.A.Curtis ex Cooke) Riebesehl & Langer"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1304","name":"Hymenochaetales","rank":"ORDER"},{"key":"3298","name":"Schizoporaceae","rank":"FAMILY"},{"key":"2519089","name":"Xylodon","rank":"GENUS"},{"key":"9366699","name":"Xylodon
        flaviporus","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":13,"timings":{"nameNRank":0,"sciNameMatch":14,"nameParse":2,"luceneMatch":12}},"synonym":false,"left":102669,"right":102674}'
  recorded_at: 2026-06-17 13:38:26
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Stypella+subgelatinosa
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"2553772","name":"Stypella subgelatinosa (P.Karst.)
        P.Roberts","canonicalName":"Stypella subgelatinosa","authorship":"(P.Karst.)
        P.Roberts","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Stypella","specificEpithet":"subgelatinosa","type":"SCIENTIFIC","formattedName":"<i>Stypella</i>
        <i>subgelatinosa</i> (P.Karst.) P.Roberts"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1062","name":"Auriculariales","rank":"ORDER"},{"key":"8616703","name":"Stypella","rank":"GENUS"},{"key":"2553772","name":"Stypella
        subgelatinosa","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":14,"timings":{"nameNRank":0,"sciNameMatch":14,"nameParse":1,"luceneMatch":13}},"synonym":false,"left":82237,"right":82239}'
  recorded_at: 2026-06-17 13:38:26
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Sistotrema+raduloides
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"5249676","name":"Sistotrema raduloides (P.Karst.)
        Donk","canonicalName":"Sistotrema raduloides","authorship":"(P.Karst.) Donk","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Sistotrema","specificEpithet":"raduloides","type":"SCIENTIFIC","formattedName":"<i>Sistotrema</i>
        <i>raduloides</i> (P.Karst.) Donk"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1300","name":"Cantharellales","rank":"ORDER"},{"key":"8460","name":"Hydnaceae","rank":"FAMILY"},{"key":"10494302","name":"Sistotrema","rank":"GENUS"},{"key":"5249676","name":"Sistotrema
        raduloides","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":11,"timings":{"nameNRank":0,"sciNameMatch":12,"nameParse":1,"luceneMatch":11}},"synonym":false,"left":93960,"right":93961}'
  recorded_at: 2026-06-17 13:38:27
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&occurrenceStatus=PRESENT&limit=0&offset=0&facetLimit=&taxonKey=2553838
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '17'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":858,"results":[],"facets":[]}'
  recorded_at: 2026-06-17 13:38:27
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&hasGeospatialIssue=FALSE&occurrenceStatus=PRESENT&limit=5&offset=0&decimalLatitude=47.101688825009%2C48.898311174991&decimalLongitude=0.957495014494602%2C3.6425049855054&taxonKey=2553838
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '17'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":true,"count":3,"results":[{"key":4051452990,"datasetKey":"017f23ba-bf04-4eb7-a076-04ab2e5de250","publishingOrgKey":"1928bdf0-f5d2-11dc-8c12-b8a03c50a862","installationKey":"e44d0fd7-0edf-477f-aa82-50a81836ab46","hostingOrganizationKey":"1928bdf0-f5d2-11dc-8c12-b8a03c50a862","publishingCountry":"FR","protocol":"DWC_ARCHIVE","lastCrawled":"2026-06-09T10:13:11.697+00:00","lastParsed":"2026-06-11T23:09:54.269+00:00","crawlId":150,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","classifications":{"7ddf754f-d193-4cc9-b351-99906754a03b":{"usage":{"key":"68CV8","name":"Basidiodendron
        eyrei (Wakef.) Luck-Allen","rank":"SPECIES","code":"BOTANICAL","authorship":"(Wakef.)
        Luck-Allen","genericName":"Basidiodendron","specificEpithet":"eyrei","formattedName":"<i>Basidiodendron</i>
        <i>eyrei</i> (Wakef.) Luck-Allen"},"acceptedUsage":{"key":"68CV8","name":"Basidiodendron
        eyrei (Wakef.) Luck-Allen","rank":"SPECIES","code":"BOTANICAL","authorship":"(Wakef.)
        Luck-Allen","genericName":"Basidiodendron","specificEpithet":"eyrei","formattedName":"<i>Basidiodendron</i>
        <i>eyrei</i> (Wakef.) Luck-Allen"},"taxonomicStatus":"ACCEPTED","classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"F","name":"Fungi","rank":"KINGDOM"},{"key":"BM","name":"Basidiomycota","rank":"PHYLUM"},{"key":"7C","name":"Agaricomycetes","rank":"CLASS"},{"key":"62295","name":"Auriculariales","rank":"ORDER"},{"key":"38DM","name":"Basidiodendron","rank":"GENUS"},{"key":"68CV8","name":"Basidiodendron
        eyrei","rank":"SPECIES"}],"issues":["TAXON_ID_NOT_FOUND"]},"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c":{"usage":{"key":"2553838","name":"Basidiodendron
        eyrei (Wakef.) Luck-Allen","rank":"SPECIES","code":"BOTANICAL","authorship":"(Wakef.)
        Luck-Allen","genericName":"Basidiodendron","specificEpithet":"eyrei","formattedName":"<i>Basidiodendron</i>
        <i>eyrei</i> (Wakef.) Luck-Allen"},"acceptedUsage":{"key":"2553838","name":"Basidiodendron
        eyrei (Wakef.) Luck-Allen","rank":"SPECIES","code":"BOTANICAL","authorship":"(Wakef.)
        Luck-Allen","genericName":"Basidiodendron","specificEpithet":"eyrei","formattedName":"<i>Basidiodendron</i>
        <i>eyrei</i> (Wakef.) Luck-Allen"},"taxonomicStatus":"ACCEPTED","classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1062","name":"Auriculariales","rank":"ORDER"},{"key":"7668534","name":"Basidiodendron","rank":"GENUS"},{"key":"2553838","name":"Basidiodendron
        eyrei","rank":"SPECIES"}],"issues":["TAXON_ID_NOT_FOUND"]}},"taxonKey":2553838,"kingdomKey":5,"phylumKey":34,"classKey":186,"orderKey":1062,"genusKey":7668534,"speciesKey":2553838,"acceptedTaxonKey":2553838,"scientificName":"Basidiodendron
        eyrei (Wakef.) Luck-Allen","scientificNameAuthorship":"(Wakef.) Luck-Allen","acceptedScientificName":"Basidiodendron
        eyrei (Wakef.) Luck-Allen","kingdom":"Fungi","phylum":"Basidiomycota","order":"Auriculariales","genus":"Basidiodendron","species":"Basidiodendron
        eyrei","genericName":"Basidiodendron","specificEpithet":"eyrei","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","decimalLatitude":48.363,"decimalLongitude":2.71,"continent":"EUROPE","gadm":{"level0":{"gid":"FRA","name":"France"},"level1":{"gid":"FRA.8_1","name":"Île-de-France"},"level2":{"gid":"FRA.8.4_1","name":"Seine-et-Marne"},"level3":{"gid":"FRA.8.4.1_1","name":"Fontainebleau"}},"year":2006,"month":10,"day":31,"eventDate":"2006-10-31","startDayOfYear":304,"endDayOfYear":304,"issues":["CONTINENT_DERIVED_FROM_COORDINATES","TAXON_ID_NOT_FOUND"],"lastInterpreted":"2026-06-11T23:09:54.269+00:00","license":"http://creativecommons.org/licenses/by/4.0/legalcode","isSequenced":false,"identifiers":[{"identifier":"74462ecb-1fec-4ebd-9e1f-1b01413bf20f"}],"media":[],"facts":[],"relations":[],"isInCluster":false,"datasetID":"935F0E9D-C448-B67E-43C1-F651FB0F9333","recordedBy":"Maurice
        GERARD (ONF)","identifiedBy":"Maurice GERARD (ONF)","dnaSequenceID":[],"nucleotideSequence":[],"geodeticDatum":"WGS84","class":"Agaricomycetes","countryCode":"FR","recordedByIDs":[],"identifiedByIDs":[],"gbifRegion":"EUROPE","country":"France","publishedByGbifRegion":"EUROPE","eventID":"74462ecb-1fec-4ebd-9e1f-1b01413bf20f","identifier":"74462ecb-1fec-4ebd-9e1f-1b01413bf20f","http://unknown.org/crawl_attempt":"163","http://unknown.org/language":"fr
        | en","footprintWKT":"POINT(2.710000004725898 48.36300000043114)","locality":"77186
        - Nom du site : FGL=Fontainebleau, La Gorge aux Loups,","associatedReferences":"NSP","municipality":"Fontainebleau","county":"Seine-et-Marne","identificationVerificationStatus":"Non
        réalisable","gbifID":"4051452990","occurrenceID":"74462ecb-1fec-4ebd-9e1f-1b01413bf20f","taxonID":"41611","http://unknown.org/id_threshold_skip":"true","originalNameUsage":"Basidiodendron
        eyrei (Wakef.) Luck-Allen, 1963","nameAccordingTo":"Gargominy O (2021). TAXREF.
        Version 4.7. UMS PatriNat (OFB-CNRS-MNHN), Paris. Checklist dataset https://doi.org/10.15468/vqueam
        accessed via GBIF.org on 2021-06-28."},{"key":3471530694,"datasetKey":"43027054-3812-4599-b7bc-a01f1df5b071","publishingOrgKey":"1928bdf0-f5d2-11dc-8c12-b8a03c50a862","installationKey":"e44d0fd7-0edf-477f-aa82-50a81836ab46","hostingOrganizationKey":"1928bdf0-f5d2-11dc-8c12-b8a03c50a862","publishingCountry":"FR","protocol":"DWC_ARCHIVE","lastCrawled":"20[...]
[...]
