http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Amanita+muscaria
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"8168319","name":"Amanita muscaria (L.) Lam.","canonicalName":"Amanita
        muscaria","authorship":"(L.) Lam.","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Amanita","specificEpithet":"muscaria","type":"SCIENTIFIC","formattedName":"<i>Amanita</i>
        <i>muscaria</i> (L.) Lam."},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1499","name":"Agaricales","rank":"ORDER"},{"key":"4171","name":"Amanitaceae","rank":"FAMILY"},{"key":"6005964","name":"Amanita","rank":"GENUS"},{"key":"8168319","name":"Amanita
        muscaria","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":97,"timeTaken":10,"timings":{"nameNRank":0,"sciNameMatch":11,"nameParse":1,"luceneMatch":10}},"synonym":false,"left":33721,"right":33733}'
  recorded_at: 2026-06-17 13:38:24
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=NotARealTaxon+ZzYy
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"diagnostics":{"matchType":"NONE","issues":[],"confidence":100,"note":"Multiple
        equal matches for Not","timeTaken":46,"timings":{"sciNameMatch":47}},"synonym":false}'
  recorded_at: 2026-06-17 13:38:24
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&hasGeospatialIssue=FALSE&occurrenceStatus=PRESENT&limit=5&offset=0&taxonKey=8168319
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '17'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":312146,"results":[{"key":5938029520,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2026-06-05T18:15:48.952+00:00","lastParsed":"2026-06-12T02:19:30.395+00:00","crawlId":595,"projectId":"https://www.inaturalist.org/projects/fungi-of-the-california-floristic-province","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/license":"https://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/created":"2026-01-02T10:31:42-08:00","http://purl.org/dc/terms/format":"image/jpeg","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/604830543/original.jpg","http://purl.org/dc/terms/rightsHolder":"Anthony
        Herbst","http://rs.tdwg.org/dwc/terms/catalogNumber":"604830543","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/creator":"Anthony
        Herbst","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/604830543","http://purl.org/dc/terms/publisher":"iNaturalist"}]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","classifications":{"7ddf754f-d193-4cc9-b351-99906754a03b":{"usage":{"key":"5FJJL","name":"Amanita
        muscaria subsp. flavivolvata Singer","rank":"SUBSPECIES","code":"BOTANICAL","authorship":"Singer","genericName":"Amanita","specificEpithet":"muscaria","infraspecificEpithet":"flavivolvata","formattedName":"<i>Amanita</i>
        <i>muscaria</i> subsp. <i>flavivolvata</i> Singer"},"acceptedUsage":{"key":"5TYZ9","name":"Amanita
        muscaria (L.) Lam.","rank":"SPECIES","code":"BOTANICAL","authorship":"(L.)
        Lam.","genericName":"Amanita","specificEpithet":"muscaria","formattedName":"<i>Amanita</i>
        <i>muscaria</i> (L.) Lam."},"taxonomicStatus":"SYNONYM","classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"F","name":"Fungi","rank":"KINGDOM"},{"key":"BM","name":"Basidiomycota","rank":"PHYLUM"},{"key":"7C","name":"Agaricomycetes","rank":"CLASS"},{"key":"N8","name":"Agaricales","rank":"ORDER"},{"key":"68Y","name":"Amanitaceae","rank":"FAMILY"},{"key":"T7Z","name":"Amanita","rank":"GENUS"},{"key":"5TYZ9","name":"Amanita
        muscaria","rank":"SPECIES"}],"issues":["TAXON_ID_NOT_FOUND"]},"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c":{"usage":{"key":"8194095","name":"Amanita
        muscaria subsp. flavivolvata Singer","rank":"SUBSPECIES","code":"BOTANICAL","authorship":"Singer","genericName":"Amanita","specificEpithet":"muscaria","infraspecificEpithet":"flavivolvata","formattedName":"<i>Amanita</i>
        <i>muscaria</i> subsp. <i>flavivolvata</i> Singer"},"acceptedUsage":{"key":"8168319","name":"Amanita
        muscaria (L.) Lam.","rank":"SPECIES","code":"BOTANICAL","authorship":"(L.)
        Lam.","genericName":"Amanita","specificEpithet":"muscaria","formattedName":"<i>Amanita</i>
        <i>muscaria</i> (L.) Lam."},"taxonomicStatus":"SYNONYM","classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1499","name":"Agaricales","rank":"ORDER"},{"key":"4171","name":"Amanitaceae","rank":"FAMILY"},{"key":"6005964","name":"Amanita","rank":"GENUS"},{"key":"8168319","name":"Amanita
        muscaria","rank":"SPECIES"}],"issues":["TAXON_ID_NOT_FOUND"]}},"taxonKey":8194095,"kingdomKey":5,"phylumKey":34,"classKey":186,"orderKey":1499,"familyKey":4171,"genusKey":6005964,"speciesKey":8168319,"acceptedTaxonKey":8168319,"scientificName":"Amanita
        muscaria subsp. flavivolvata Singer","scientificNameAuthorship":"Singer","acceptedScientificName":"Amanita
        muscaria (L.) Lam.","kingdom":"Fungi","phylum":"Basidiomycota","order":"Agaricales","family":"Amanitaceae","genus":"Amanita","species":"Amanita
        muscaria","genericName":"Amanita","specificEpithet":"muscaria","infraspecificEpithet":"flavivolvata","taxonRank":"SUBSPECIES","taxonomicStatus":"SYNONYM","dateIdentified":"2026-01-02T18:44:13","decimalLatitude":37.78687,"decimalLongitude":-122.449255,"coordinateUncertaintyInMeters":23.0,"continent":"NORTH_AMERICA","stateProvince":"California","gadm":{"level0":{"gid":"USA","name":"United
        States"},"level1":{"gid":"USA.5_1","name":"California"},"level2":{"gid":"USA.5.38_1","name":"San
        Francisco"}},"year":2026,"month":1,"day":2,"eventDate":"2026-01-02T10:31:42","startDayOfYear":2,"endDayOfYear":2,"issues":["CONTINENT_DERIVED_FROM_COORDINATES","TAXON_ID_NOT_FOUND"],"modified":"2026-01-26T20:54:48.000+00:00","lastInterpreted":"2026-06-12T02:19:30.395+00:00","references":"https://www.inaturalist.org/observations/333180219","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","isSequenced":false,"identifiers":[{"identifier":"333180219"}],"media":[{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/604830543","created":"2026-01-02T18:31:42.000+00:00","creator":"Anthony
        Herbst","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Anthony
        Herbst","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/604830543/original.jpg"}],"facts":[],"relations":[],"isInCluster":false,"datasetName":"iNaturalist
        research-grade observations","recordedBy":"Anthony Herbst","identifiedBy":"Olivia
        Scherber","dnaSequenceID":[],"nucleotideSequence":[],"geodeticDatum":"WGS84","class":"Agaricomycetes","countryCode":"US","recordedByIDs":[],"identifiedByIDs":[],"gbifRegion":"NORTH_AMERICA","country":"United
        States of America","publishedByGbifRegion":"NORTH_AMERICA","rightsHolder":"Anthony
        Herbst","identifier":"333180219","http://unknown.org/nick":"anthony_09","verbatimEventDate":"2026-01-02
        10:31:42","http://unknown.org/crawl_attempt":"595","http://unknown.org/status":"not_reviewed","verbatimLocality":"California
        St, San Francisco, CA, US","collectionCode":"Observations","gbifID":"5938029520","occurrenceID":"https://www.inaturalist.org/observations/333180219","taxonID":"335932","http://unknown.org/captive_cultivated":"wild","catalogNumber":"333180219","institutionCode":"iNaturalist","eventTime":"10:31:42-08:00","identificationID":"745646616"},{"key":5938029738,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2026-06-05T18:15:48.952+00:00","lastParsed":"2026-06-12T02:29:50.542+00:00","crawlId":595,"projectId":"https://www.inaturalist.org/projects/fungi-of-the-california-floristic[...]
