http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Fagus+sylvatica&verbose=FALSE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"2882316","name":"Fagus sylvatica L.","canonicalName":"Fagus
        sylvatica","authorship":"L.","rank":"SPECIES","status":"ACCEPTED","genericName":"Fagus","specificEpithet":"sylvatica","type":"SCIENTIFIC","formattedName":"<i>Fagus</i>
        <i>sylvatica</i> L."},"classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"220","name":"Magnoliopsida","rank":"CLASS"},{"key":"1354","name":"Fagales","rank":"ORDER"},{"key":"4689","name":"Fagaceae","rank":"FAMILY"},{"key":"2874875","name":"Fagus","rank":"GENUS"},{"key":"2882316","name":"Fagus
        sylvatica","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":8,"timings":{"nameNRank":0,"sciNameMatch":9,"nameParse":1,"luceneMatch":8}},"additionalStatus":[{"clbDatasetKey":"53131","datasetAlias":"IUCN","datasetKey":"19491596-35ae-4a91-9a98-85cf505f1bd3","status":"LEAST_CONCERN","statusCode":"LC","sourceId":"62004722"}],"synonym":false}'
  recorded_at: 2026-06-17 13:38:26
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&occurrenceStatus=PRESENT&limit=0&offset=0&facetLimit=&taxonKey=2882316
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '15'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1498659,"results":[],"facets":[]}'
  recorded_at: 2026-06-17 13:38:26
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&hasGeospatialIssue=FALSE&occurrenceStatus=PRESENT&limit=5&offset=0&decimalLatitude=47.059977650018%2C50.653222349982&decimalLongitude=-0.378453776385325%2C5.08285377638532&taxonKey=2882316
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '14'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":95701,"results":[{"key":5938715786,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2026-06-05T18:15:48.952+00:00","lastParsed":"2026-06-12T02:39:53.369+00:00","crawlId":595,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/license":"https://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/created":"2026-01-04T12:17:18Z","http://purl.org/dc/terms/format":"image/jpeg","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/605369378/original.jpg","http://purl.org/dc/terms/rightsHolder":"adelion","http://rs.tdwg.org/dwc/terms/catalogNumber":"605369378","http://purl.org/dc/terms/type":"StillIma[...]
