http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Basidiodendron+eyrei
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"2553838","name":"Basidiodendron eyrei (Wakef.) Luck-Allen","canonicalName":"Basidiodendron
        eyrei","authorship":"(Wakef.) Luck-Allen","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Basidiodendron","specificEpithet":"eyrei","type":"SCIENTIFIC","formattedName":"<i>Basidiodendron</i>
        <i>eyrei</i> (Wakef.) Luck-Allen"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1062","name":"Auriculariales","rank":"ORDER"},{"key":"7668534","name":"Basidiodendron","rank":"GENUS"},{"key":"2553838","name":"Basidiodendron
        eyrei","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":13,"timings":{"nameNRank":0,"sciNameMatch":14,"nameParse":1,"luceneMatch":13}},"synonym":false,"left":81861,"right":81864}'
  recorded_at: 2026-06-17 13:38:38
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Fomes+fomentarius
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"8068867","name":"Fomes fomentarius (L.) Fr.","canonicalName":"Fomes
        fomentarius","authorship":"(L.) Fr.","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Fomes","specificEpithet":"fomentarius","type":"SCIENTIFIC","formattedName":"<i>Fomes</i>
        <i>fomentarius</i> (L.) Fr."},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1145","name":"Polyporales","rank":"ORDER"},{"key":"3286","name":"Polyporaceae","rank":"FAMILY"},{"key":"2518074","name":"Fomes","rank":"GENUS"},{"key":"8068867","name":"Fomes
        fomentarius","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":98,"timeTaken":8,"timings":{"nameNRank":0,"sciNameMatch":8,"nameParse":0,"luceneMatch":8}},"synonym":false,"left":109161,"right":109161}'
  recorded_at: 2026-06-17 13:38:38
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Mycena+renati
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"4911813","name":"Mycena renati Quél.","canonicalName":"Mycena
        renati","authorship":"Quél.","rank":"SPECIES","status":"ACCEPTED","genericName":"Mycena","specificEpithet":"renati","type":"SCIENTIFIC","formattedName":"<i>Mycena</i>
        <i>renati</i> Quél."},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1499","name":"Agaricales","rank":"ORDER"},{"key":"4180","name":"Mycenaceae","rank":"FAMILY"},{"key":"5955261","name":"Mycena","rank":"GENUS"},{"key":"4911813","name":"Mycena
        renati","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":17,"timings":{"nameNRank":0,"sciNameMatch":18,"nameParse":1,"luceneMatch":17}},"synonym":false,"left":64888,"right":64889}'
  recorded_at: 2026-06-17 13:38:38
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Xylodon+flaviporus
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"9366699","name":"Xylodon flaviporus (Berk. & M.A.Curtis
        ex Cooke) Riebesehl & Langer","canonicalName":"Xylodon flaviporus","authorship":"(Berk.
        & M.A.Curtis ex Cooke) Riebesehl & Langer","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Xylodon","specificEpithet":"flaviporus","type":"SCIENTIFIC","formattedName":"<i>Xylodon</i>
        <i>flaviporus</i> (Berk. & M.A.Curtis ex Cooke) Riebesehl & Langer"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1304","name":"Hymenochaetales","rank":"ORDER"},{"key":"3298","name":"Schizoporaceae","rank":"FAMILY"},{"key":"2519089","name":"Xylodon","rank":"GENUS"},{"key":"9366699","name":"Xylodon
        flaviporus","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":13,"timings":{"nameNRank":0,"sciNameMatch":14,"nameParse":2,"luceneMatch":12}},"synonym":false,"left":102669,"right":102674}'
  recorded_at: 2026-06-17 13:38:38
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Stypella+subgelatinosa
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"2553772","name":"Stypella subgelatinosa (P.Karst.)
        P.Roberts","canonicalName":"Stypella subgelatinosa","authorship":"(P.Karst.)
        P.Roberts","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Stypella","specificEpithet":"subgelatinosa","type":"SCIENTIFIC","formattedName":"<i>Stypella</i>
        <i>subgelatinosa</i> (P.Karst.) P.Roberts"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1062","name":"Auriculariales","rank":"ORDER"},{"key":"8616703","name":"Stypella","rank":"GENUS"},{"key":"2553772","name":"Stypella
        subgelatinosa","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":14,"timings":{"nameNRank":0,"sciNameMatch":14,"nameParse":1,"luceneMatch":13}},"synonym":false,"left":82237,"right":82239}'
  recorded_at: 2026-06-17 13:38:38
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Sistotrema+raduloides
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"5249676","name":"Sistotrema raduloides (P.Karst.)
        Donk","canonicalName":"Sistotrema raduloides","authorship":"(P.Karst.) Donk","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Sistotrema","specificEpithet":"raduloides","type":"SCIENTIFIC","formattedName":"<i>Sistotrema</i>
        <i>raduloides</i> (P.Karst.) Donk"},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1300","name":"Cantharellales","rank":"ORDER"},{"key":"8460","name":"Hydnaceae","rank":"FAMILY"},{"key":"10494302","name":"Sistotrema","rank":"GENUS"},{"key":"5249676","name":"Sistotrema
        raduloides","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":99,"timeTaken":11,"timings":{"nameNRank":0,"sciNameMatch":12,"nameParse":1,"luceneMatch":11}},"synonym":false,"left":93960,"right":93961}'
  recorded_at: 2026-06-17 13:38:38
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&occurrenceStatus=PRESENT&limit=0&offset=0&facetLimit=&taxonKey=2553838
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '17'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":858,"results":[],"facets":[]}'
  recorded_at: 2026-06-17 13:38:38
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&hasGeospatialIssue=FALSE&occurrenceStatus=PRESENT&limit=5&offset=0&decimalLatitude=46.9308444125045%2C47.8291555874955&decimalLongitude=7.64668028209211%2C8.9733197179079&taxonKey=2553838
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '17'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":57,"results":[{"key":4940776463,"datasetKey":"c0633ec5-19cd-4a58-b84c-ca55c2e7ae64","publishingOrgKey":"64ee55c9-570a-42af-b7da-3f13c6b4e5a9","networkKeys":["0b00b924-016b-4954-96a7-2d9264b5d0ba"],"installationKey":"dc9d8bd0-3c20-4fba-b7ff-26d654817ea7","hostingOrganizationKey":"23e067c0-a255-11da-beae-b8a03c50a862","publishingCountry":"CH","protocol":"EML","lastCrawled":"2026-06-10T01:48:30.452+00:00","lastParsed":"2026-06-12T00:39:13.493+00:00","crawlId":234,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","classifications":{"7ddf754f-d193-4cc9-b351-99906754a03b":{"usage":{"key":"68CV8","name":"Basidiodendron
        eyrei (Wakef.) Luck-Allen","rank":"SPECIES","code":"BOTANICAL","authorship":"(Wakef.)
        Luck-Allen","genericName":"Basidiodendron","specificEpithet":"eyrei","formattedName":"<i>Basidiodendron</i>
        <i>eyrei</i> (Wakef.) Luck-Allen"},"acceptedUsage":{"key":"68CV8","name":"Basidiodendron
        eyrei (Wakef.) Luck-Allen","rank":"SPECIES","code":"BOTANICAL","authorship":"(Wakef.)
        Luck-Allen","genericName":"Basidiodendron","specificEpithet":"eyrei","formattedName":"<i>Basidiodendron</i>
        <i>eyrei</i> (Wakef.) Luck-Allen"},"taxonomicStatus":"ACCEPTED","classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"F","name":"Fungi","rank":"KINGDOM"},{"key":"BM","name":"Basidiomycota","rank":"PHYLUM"},{"key":"7C","name":"Agaricomycetes","rank":"CLASS"},{"key":"62295","name":"Auriculariales","rank":"ORDER"},{"key":"38DM","name":"Basidiodendron","rank":"GENUS"},{"key":"68CV8","name":"Basidiodendron
        eyrei","rank":"SPECIES"}],"issues":["TAXON_ID_NOT_FOUND"]},"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c":{"usage":{"key":"2553838","name":"Basidiodendron
        eyrei (Wakef.) Luck-Allen","rank":"SPECIES","code":"BOTANICAL","authorship":"(Wakef.)
        Luck-Allen","genericName":"Basidiodendron","specificEpithet":"eyrei","formattedName":"<i>Basidiodendron</i>
        <i>eyrei</i> (Wakef.) Luck-Allen"},"acceptedUsage":{"key":"2553838","name":"Basidiodendron
        eyrei (Wakef.) Luck-Allen","rank":"SPECIES","code":"BOTANICAL","authorship":"(Wakef.)
        Luck-Allen","genericName":"Basidiodendron","specificEpithet":"eyrei","formattedName":"<i>Basidiodendron</i>
        <i>eyrei</i> (Wakef.) Luck-Allen"},"taxonomicStatus":"ACCEPTED","classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1062","name":"Auriculariales","rank":"ORDER"},{"key":"7668534","name":"Basidiodendron","rank":"GENUS"},{"key":"2553838","name":"Basidiodendron
        eyrei","rank":"SPECIES"}],"issues":["TAXON_ID_NOT_FOUND"]}},"taxonKey":2553838,"kingdomKey":5,"phylumKey":34,"classKey":186,"orderKey":1062,"genusKey":7668534,"speciesKey":2553838,"acceptedTaxonKey":2553838,"scientificName":"Basidiodendron
        eyrei (Wakef.) Luck-Allen","scientificNameAuthorship":"(Wakef.) Luck-Allen","acceptedScientificName":"Basidiodendron
        eyrei (Wakef.) Luck-Allen","kingdom":"Fungi","phylum":"Basidiomycota","order":"Auriculariales","genus":"Basidiodendron","species":"Basidiodendron
        eyrei","genericName":"Basidiodendron","specificEpithet":"eyrei","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","decimalLatitude":47.42159,"decimalLongitude":8.06811,"coordinateUncertaintyInMeters":3535.0,"elevation":640.0,"continent":"EUROPE","stateProvince":"Ag","gadm":{"level0":{"gid":"CHE","name":"Switzerland"},"level1":{"gid":"CHE.1_1","name":"Aargau"},"level2":{"gid":"CHE.1.1_1","name":"Aarau"},"level3":{"gid":"CHE.1.1.8_1","name":"Küttigen"}},"higherGeography":"Jura
        und Randen","year":2022,"month":9,"day":20,"eventDate":"2022-09-20","startDayOfYear":263,"endDayOfYear":263,"issues":["TAXON_ID_NOT_FOUND"],"lastInterpreted":"2026-06-12T00:39:13.493+00:00","license":"http://creativecommons.org/licenses/by/4.0/legalcode","isSequenced":false,"identifiers":[{"identifier":"SWISSFUNGI-CH-940473"}],"media":[],"facts":[],"relations":[],"isInCluster":false,"datasetID":"https://doi.org/10.15468/7jnc5v","dnaSequenceID":[],"nucleotideSequence":[],"geodeticDatum":"WGS84","class":"Agaricomycetes","countryCode":"CH","recordedByIDs":[],"identifiedByIDs":[],"gbifRegion":"EUROPE","country":"Switzerland","publishedByGbifRegion":"EUROPE","rightsHolder":"https://www.swissfungi.ch","identifier":"SWISSFUNGI-CH-940473","nomenclaturalCode":"ICN","http://unknown.org/crawl_attempt":"251","dataGeneralizations":"In
        order to respect the currently nationally agreed ethical framework while simultaneously
        sharing scientifically utilizable data for large scale studies, Swiss biodiversity
        data is generally published generalized to 5km grid squares. Altitude information
        corresponds to raw data.","identificationVerificationStatus":"Valid","gbifID":"4940776463","occurrenceID":"SWISSFUNGI-CH-940473","taxonID":"infospecies.ch:swissfungi:459","higherGeographyID":"https://geo.ld.admin.ch/environment/biogeographicalregion/1","catalogNumber":"SWISSFUNGI-CH-940473","identificationQualifier":"aff.
        eyrei","bibliographicCitation":"Swiss Fungi (2026-02-03) SWISSFUNGI-CH-940473.
        Swiss National Fungi Databank. Birmensdorf, Swiss Federal Institute for Forest,
        Snow and Landscape Research WSL"},{"key":4940825885,"datasetKey":"c0633ec5-19cd-4a58-b84c-ca55c2e7ae64","publishingOrgKey":"64ee55c9-570a-42af-b7da-3f13c6b4e5a9","networkKeys":["0b00b924-016b-4954-96a7-2d9264b5d0ba"],"installationKey":"dc9d8bd0-3c20-4fba-b7ff-26d654817ea7","hostingOrganizationKey":"23e067c0-a255-11da-beae-b8a03c50a862","publishingCountry[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&hasGeospatialIssue=FALSE&occurrenceStatus=PRESENT&limit=5&offset=0&decimalLatitude=46.9308444125045%2C47.8291555874955&decimalLongitude=7.64668028209211%2C8.9733197179079&taxonKey=5249676
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '12'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2026-06-17 13:38:40
recorded_with: VCR-vcr/2.1.0
