http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Fomes+fomentarius
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"8068867","name":"Fomes fomentarius (L.) Fr.","canonicalName":"Fomes
        fomentarius","authorship":"(L.) Fr.","rank":"SPECIES","code":"BOTANICAL","status":"ACCEPTED","genericName":"Fomes","specificEpithet":"fomentarius","type":"SCIENTIFIC","formattedName":"<i>Fomes</i>
        <i>fomentarius</i> (L.) Fr."},"classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1145","name":"Polyporales","rank":"ORDER"},{"key":"3286","name":"Polyporaceae","rank":"FAMILY"},{"key":"2518074","name":"Fomes","rank":"GENUS"},{"key":"8068867","name":"Fomes
        fomentarius","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":98,"timeTaken":8,"timings":{"nameNRank":0,"sciNameMatch":8,"nameParse":0,"luceneMatch":8}},"synonym":false,"left":109161,"right":109161}'
  recorded_at: 2026-06-17 13:38:23
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&hasGeospatialIssue=FALSE&occurrenceStatus=PRESENT&limit=5&offset=0&taxonKey=8068867
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '18'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":169391,"results":[{"key":5937740535,"datasetKey":"df12ca07-f133-4550-ab3b-fde13f0e76ba","publishingOrgKey":"04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1","installationKey":"b1304814-56cc-434e-8d40-2b24fa21526f","hostingOrganizationKey":"04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1","publishingCountry":"FI","protocol":"EML","lastCrawled":"2026-06-15T11:14:31.380+00:00","lastParsed":"2026-06-15T11:28:49.927+00:00","crawlId":372,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","individualCount":1,"occurrenceStatus":"PRESENT","classifications":{"7ddf754f-d193-4cc9-b351-99906754a03b":{"usage":{"key":"P6YYM","name":"Fomes
        fomentarius (L.: Fr.) J.Kickx f.","rank":"SPECIES","authorship":"(L.: Fr.)
        J.Kickx f.","genericName":"Fomes","specificEpithet":"fomentarius","formattedName":"<i>Fomes</i>
        <i>fomentarius</i> (L.: Fr.) J.Kickx f."},"acceptedUsage":{"key":"6JCQK","name":"Fomes
        fomentarius (L.) Fr.","rank":"SPECIES","code":"BOTANICAL","authorship":"(L.)
        Fr.","genericName":"Fomes","specificEpithet":"fomentarius","formattedName":"<i>Fomes</i>
        <i>fomentarius</i> (L.) Fr."},"taxonomicStatus":"SYNONYM","classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"F","name":"Fungi","rank":"KINGDOM"},{"key":"BM","name":"Basidiomycota","rank":"PHYLUM"},{"key":"7C","name":"Agaricomycetes","rank":"CLASS"},{"key":"3VM","name":"Polyporales","rank":"ORDER"},{"key":"627LB","name":"Polyporaceae","rank":"FAMILY"},{"key":"4KNT","name":"Fomes","rank":"GENUS"},{"key":"6JCQK","name":"Fomes
        fomentarius","rank":"SPECIES"}],"issues":["TAXON_CONCEPT_ID_NOT_FOUND"]},"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c":{"usage":{"key":"8068867","name":"Fomes
        fomentarius (L.) Fr.","rank":"SPECIES","code":"BOTANICAL","authorship":"(L.)
        Fr.","genericName":"Fomes","specificEpithet":"fomentarius","formattedName":"<i>Fomes</i>
        <i>fomentarius</i> (L.) Fr."},"acceptedUsage":{"key":"8068867","name":"Fomes
        fomentarius (L.) Fr.","rank":"SPECIES","code":"BOTANICAL","authorship":"(L.)
        Fr.","genericName":"Fomes","specificEpithet":"fomentarius","formattedName":"<i>Fomes</i>
        <i>fomentarius</i> (L.) Fr."},"taxonomicStatus":"ACCEPTED","classification":[{"key":"5","name":"Fungi","rank":"KINGDOM"},{"key":"34","name":"Basidiomycota","rank":"PHYLUM"},{"key":"186","name":"Agaricomycetes","rank":"CLASS"},{"key":"1145","name":"Polyporales","rank":"ORDER"},{"key":"3286","name":"Polyporaceae","rank":"FAMILY"},{"key":"2518074","name":"Fomes","rank":"GENUS"},{"key":"8068867","name":"Fomes
        fomentarius","rank":"SPECIES"}],"issues":["TAXON_CONCEPT_ID_NOT_FOUND"]}},"taxonKey":8068867,"kingdomKey":5,"phylumKey":34,"classKey":186,"orderKey":1145,"familyKey":3286,"genusKey":2518074,"speciesKey":8068867,"acceptedTaxonKey":8068867,"scientificName":"Fomes
        fomentarius (L.) Fr.","scientificNameAuthorship":"(L.) Fr.","acceptedScientificName":"Fomes
        fomentarius (L.) Fr.","kingdom":"Fungi","phylum":"Basidiomycota","order":"Polyporales","family":"Polyporaceae","genus":"Fomes","species":"Fomes
        fomentarius","genericName":"Fomes","specificEpithet":"fomentarius","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","decimalLatitude":64.799317,"decimalLongitude":25.375357,"coordinateUncertaintyInMeters":30.0,"continent":"EUROPE","stateProvince":"Pohjois-Pohjanmaa","gadm":{"level0":{"gid":"FIN","name":"Finland"},"level1":{"gid":"FIN.3_1","name":"Oulu"},"level2":{"gid":"FIN.3.2_1","name":"Northern
        Ostrobothnia"},"level3":{"gid":"FIN.3.2.3_1","name":"Oulu"}},"year":2026,"month":1,"day":1,"eventDate":"2026-01-01T00:00Z","startDayOfYear":1,"endDayOfYear":1,"issues":["CONTINENT_DERIVED_FROM_COORDINATES","TAXON_CONCEPT_ID_NOT_FOUND"],"modified":"2026-01-01T00:00:00.000+00:00","lastInterpreted":"2026-06-15T11:28:49.927+00:00","license":"http://creativecommons.org/licenses/by/4.0/legalcode","isSequenced":false,"identifiers":[{"identifier":"http://tun.fi/JX.2387224#12"}],"media":[],"facts":[],"relations":[],"isInCluster":false,"datasetName":"Notebook,
        general observations","recordedBy":"Pauli Jokikokko","dnaSequenceID":[],"nucleotideSequence":[],"geodeticDatum":"WGS84","class":"Agaricomycetes","countryCode":"FI","recordedByIDs":[],"identifiedByIDs":[],"gbifRegion":"EUROPE","country":"Finland","publishedByGbifRegion":"EUROPE","eventID":"http://tun.fi/JX.2387224#11","identifier":"http://tun.fi/JX.2387224#12","http://unknown.org/crawl_attempt":"372","dataGeneralizations":"NONE","footprintWKT":"POINT
        (25.375357 64.799317)","locality":"Alakestilä, arboretum","county":"Liminka","collectionCode":"HR.1747","gbifID":"5937740535","occurrenceID":"http://tun.fi/JX.2387224#12","verbatimIdentification":"taulakääpä","catalogNumber":"http://tun.fi/JX.2387224","footprintSRS":"EPSG:4326","taxonConceptID":"http://tun.fi/MX.205930","occurrenceRemarks":"Quality
        assessment: Unassessed Elävällä koivulla","bibliographicCitation":"http://tun.fi/JX.2387224#12
        Source: FinBIF"},{"key":5937972103,"datasetKey":"6ac3f774-d9fb-4796-b3e9-92bf6c81c084","publishingOrgKey":"bb646dff-a905-4403-a49b-6d378c2cf0d9","installationKey":"36cae45c-1983-48be-9cf9-0672c4a60612","hostingOrganizationKey":"bb646dff-a905-4403-a49b-6d378c2cf0d9","publishingCountry":"DE","protocol":"BIOCASE","lastCrawled":"2026-06-16T05:49:57.450+00:00","lastParsed":"2026-06-16T07:33:56.990+00:00","crawlId":427,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","classifi[...]
