http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v2/species/match?scientificName=Quercus+robur&verbose=FALSE
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"usage":{"key":"2878688","name":"Quercus robur L.","canonicalName":"Quercus
        robur","authorship":"L.","rank":"SPECIES","status":"ACCEPTED","genericName":"Quercus","specificEpithet":"robur","type":"SCIENTIFIC","formattedName":"<i>Quercus</i>
        <i>robur</i> L."},"classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"220","name":"Magnoliopsida","rank":"CLASS"},{"key":"1354","name":"Fagales","rank":"ORDER"},{"key":"4689","name":"Fagaceae","rank":"FAMILY"},{"key":"2877951","name":"Quercus","rank":"GENUS"},{"key":"2878688","name":"Quercus
        robur","rank":"SPECIES"}],"diagnostics":{"matchType":"EXACT","confidence":97,"timeTaken":12,"timings":{"nameNRank":0,"sciNameMatch":12,"nameParse":0,"luceneMatch":12}},"additionalStatus":[{"clbDatasetKey":"53131","datasetAlias":"IUCN","datasetKey":"19491596-35ae-4a91-9a98-85cf505f1bd3","status":"LEAST_CONCERN","statusCode":"LC","sourceId":"63532"}],"synonym":false}'
  recorded_at: 2026-06-17 13:38:25
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&occurrenceStatus=PRESENT&limit=0&offset=0&facetLimit=&taxonKey=2878688
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '17'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":1687714,"results":[],"facets":[]}'
  recorded_at: 2026-06-17 13:38:25
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&hasGeospatialIssue=FALSE&occurrenceStatus=PRESENT&limit=5&offset=0&decimalLatitude=47.958288825009%2C49.754911174991&decimalLongitude=0.986873111807337%2C3.71752688819266&taxonKey=2878688
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '16'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":59735,"results":[{"key":6195491237,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2026-06-05T18:15:48.952+00:00","lastParsed":"2026-06-12T02:15:40.555+00:00","crawlId":595,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/license":"https://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/created":"2026-04-10T15:13:21-07:00","http://purl.org/dc/terms/format":"image/jpeg","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/636114794/original.jpg","http://purl.org/dc/terms/rightsHolder":"ada-sqy","http://rs.tdwg.org/dwc/terms/catalogNumber":"636114794","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/creator":"ada-sqy","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/636114794","http://purl.org/dc/terms/publisher":"iNaturalist"}]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","classifications":{"7ddf754f-d193-4cc9-b351-99906754a03b":{"usage":{"key":"4R5YN","name":"Quercus
        robur L.","rank":"SPECIES","code":"BOTANICAL","authorship":"L.","genericName":"Quercus","specificEpithet":"robur","formattedName":"<i>Quercus</i>
        <i>robur</i> L."},"acceptedUsage":{"key":"4R5YN","name":"Quercus robur L.","rank":"SPECIES","code":"BOTANICAL","authorship":"L.","genericName":"Quercus","specificEpithet":"robur","formattedName":"<i>Quercus</i>
        <i>robur</i> L."},"taxonomicStatus":"ACCEPTED","classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"P","name":"Plantae","rank":"KINGDOM"},{"key":"CMQ8S","name":"Pteridobiotina","rank":"SUBKINGDOM"},{"key":"TP","name":"Tracheophyta","rank":"PHYLUM"},{"key":"MG","name":"Magnoliopsida","rank":"CLASS"},{"key":"384","name":"Fagales","rank":"ORDER"},{"key":"NPBN9","name":"Fagaceae","rank":"FAMILY"},{"key":"V58RW","name":"Quercoideae","rank":"SUBFAMILY"},{"key":"8W2YL","name":"Quercus","rank":"GENUS"},{"key":"4R5YN","name":"Quercus
        robur","rank":"SPECIES"}],"iucnRedListCategoryCode":"LC","issues":["TAXON_ID_NOT_FOUND"]},"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c":{"usage":{"key":"2878688","name":"Quercus
        robur L.","rank":"SPECIES","authorship":"L.","genericName":"Quercus","specificEpithet":"robur","formattedName":"<i>Quercus</i>
        <i>robur</i> L."},"acceptedUsage":{"key":"2878688","name":"Quercus robur L.","rank":"SPECIES","authorship":"L.","genericName":"Quercus","specificEpithet":"robur","formattedName":"<i>Quercus</i>
        <i>robur</i> L."},"taxonomicStatus":"ACCEPTED","classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"220","name":"Magnoliopsida","rank":"CLASS"},{"key":"1354","name":"Fagales","rank":"ORDER"},{"key":"4689","name":"Fagaceae","rank":"FAMILY"},{"key":"2877951","name":"Quercus","rank":"GENUS"},{"key":"2878688","name":"Quercus
        robur","rank":"SPECIES"}],"iucnRedListCategoryCode":"LC","issues":["TAXON_ID_NOT_FOUND"]}},"taxonKey":2878688,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1354,"familyKey":4689,"genusKey":2877951,"speciesKey":2878688,"acceptedTaxonKey":2878688,"scientificName":"Quercus
        robur L.","scientificNameAuthorship":"L.","acceptedScientificName":"Quercus
        robur L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Fagales","family":"Fagaceae","genus":"Quercus","species":"Quercus
        robur","genericName":"Quercus","specificEpithet":"robur","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"LC","dateIdentified":"2026-04-10T17:43:18","decimalLatitude":48.790581,"decimalLongitude":1.96194,"coordinateUncertaintyInMeters":24.0,"continent":"EUROPE","stateProvince":"Île-de-France","gadm":{"level0":{"gid":"FRA","name":"France"},"level1":{"gid":"FRA.8_1","name":"Île-de-France"},"level2":{"gid":"FRA.8.8_1","name":"Yvelines"},"level3":{"gid":"FRA.8.8.2_1","name":"Rambouillet"}},"year":2026,"month":4,"day":10,"eventDate":"2026-04-10T15:13:24","startDayOfYear":100,"endDayOfYear":100,"issues":["COORDINATE_ROUNDED","CONTINENT_DERIVED_FROM_COORDINATES","TAXON_ID_NOT_FOUND"],"modified":"2026-04-10T17:55:34.000+00:00","lastInterpreted":"2026-06-12T02:15:40.555+00:00","references":"https://www.inaturalist.org/observations/348761389","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","isSequenced":false,"identifiers":[{"identifier":"348761389"}],"media":[{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/636114794","created":"2026-04-10T22:13:21.000+00:00","creator":"ada-sqy","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"ada-sqy","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/636114794/original.jpg"}],"facts":[],"relations":[],"isInCluster":false,"datasetName":"iNaturalist
        research-grade observations","recordedBy":"ada-sqy","identifiedBy":"ada-sqy","dnaSequenceID":[],"nucleotideSequence":[],"geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"FR","recordedByIDs":[],"identifiedByIDs":[],"gbifRegion":"EUROPE","country":"France","publishedByGbifRegion":"NORTH_AMERICA","rightsHolder":"ada-sqy","identifier":"348761389","http://unknown.org/nick":"ada-sqy","verbatimEventDate":"2026-04-10
        15:13:24","http://unknown.org/crawl_attempt":"595","http://unknown.org/status":"not_reviewed","verbatimLocality":"Rue
        des Frênes, Plaisir, Île-de-France, FR","collectionCode":"Observations","gbifID":"6195491237","occurrenceID":"https://www.inaturalist.org/observations/348761389","taxonID":"56133","http://unknown.org/captive_cultivated":"wild","catalogNumber":"348761389","institutionCode":"iNaturalist","eventTime":"15:13:24+02:00","identificationID":"786856331"},{"key":6195695596,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2026-06-05T18:15:48.952+00:00","lastParsed":"2026-06-12T02:09:22.103+00:00","crawlId":595,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms[...]
