http_interactions:
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&type=item&language=en&limit=10&search=Xylodon+flaviporus&format=json
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
      x-search-id: bxxm0gu62fk98s153czhigefy
    body:
      string: '{"searchinfo":{"search":"Xylodon flaviporus"},"search":[{"id":"Q81184444","title":"Q81184444","pageid":80551072,"concepturi":"http://www.wikidata.org/entity/Q81184444","repository":"wikidata","url":"//www.wikidata.org/wiki/Q81184444","display":{"label":{"value":"Xylodon
        flaviporus","language":"en"},"description":{"value":"species of fungi in the
        genus Xylodon","language":"en"}},"label":"Xylodon flaviporus","description":"species
        of fungi in the genus Xylodon","match":{"type":"label","language":"en","text":"Xylodon
        flaviporus"}},{"id":"Q90624448","title":"Q90624448","pageid":89821116,"concepturi":"http://www.wikidata.org/entity/Q90624448","repository":"wikidata","url":"//www.wikidata.org/wiki/Q90624448","display":{"label":{"value":"Xylodon
        flaviporus-Derived Drimane Sesquiterpenoids That Inhibit Osteoclast Differentiation","language":"en"},"description":{"value":"scientific
        article published on 10 October 2019","language":"en"}},"label":"Xylodon flaviporus-Derived
        Drimane Sesquiterpenoids That Inhibit Osteoclast Differentiation","description":"scientific
        article published on 10 October 2019","match":{"type":"label","language":"en","text":"Xylodon
        flaviporus-Derived Drimane Sesquiterpenoids That Inhibit Osteoclast Differentiation"}}],"success":1}'
  recorded_at: 2026-06-17 18:55:14
- request:
    method: GET
    uri: http://wikidata.org/w/api.php?action=parse&prop=wikitext%7Crevid&page=Q81184444&format=json
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"parse":{"title":"Q81184444","pageid":80551072,"revid":2470520080,"wikitext":{"*":"{\"type\":\"item\",\"id\":\"Q81184444\",\"labels\":{\"de\":{\"language\":\"de\",\"value\":\"Xylodon
        flaviporus\"},\"en\":{\"language\":\"en\",\"value\":\"Xylodon flaviporus\"},\"it\":{\"language\":\"it\",\"value\":\"Xylodon
        flaviporus\"},\"es\":{\"language\":\"es\",\"value\":\"Xylodon flaviporus\"},\"fr\":{\"language\":\"fr\",\"value\":\"Xylodon
        flaviporus\"},\"nl\":{\"language\":\"nl\",\"value\":\"Xylodon flaviporus\"},\"bg\":{\"language\":\"bg\",\"value\":\"Xylodon
        flaviporus\"},\"ru\":{\"language\":\"ru\",\"value\":\"Xylodon flaviporus\"},\"la\":{\"language\":\"la\",\"value\":\"Xylodon
        flaviporus\"},\"uk\":{\"language\":\"uk\",\"value\":\"Xylodon flaviporus\"},\"ast\":{\"language\":\"ast\",\"value\":\"Xylodon
        flaviporus\"},\"ga\":{\"language\":\"ga\",\"value\":\"Xylodon flaviporus\"},\"ro\":{\"language\":\"ro\",\"value\":\"Xylodon
        flaviporus\"},\"pt\":{\"language\":\"pt\",\"value\":\"Xylodon flaviporus\"},\"pl\":{\"language\":\"pl\",\"value\":\"Xylodon
        flaviporus\"},\"vi\":{\"language\":\"vi\",\"value\":\"Xylodon flaviporus\"},\"sq\":{\"language\":\"sq\",\"value\":\"Xylodon
        flaviporus\"},\"ceb\":{\"language\":\"ceb\",\"value\":\"Xylodon flaviporus\"},\"war\":{\"language\":\"war\",\"value\":\"Xylodon
        flaviporus\"},\"fi\":{\"language\":\"fi\",\"value\":\"Xylodon flaviporus\"},\"vo\":{\"language\":\"vo\",\"value\":\"Xylodon
        flaviporus\"},\"ia\":{\"language\":\"ia\",\"value\":\"Xylodon flaviporus\"},\"ext\":{\"language\":\"ext\",\"value\":\"Xylodon
        flaviporus\"},\"oc\":{\"language\":\"oc\",\"value\":\"Xylodon flaviporus\"},\"io\":{\"language\":\"io\",\"value\":\"Xylodon
        flaviporus\"},\"eo\":{\"language\":\"eo\",\"value\":\"Xylodon flaviporus\"},\"gl\":{\"language\":\"gl\",\"value\":\"Xylodon
        flaviporus\"},\"ie\":{\"language\":\"ie\",\"value\":\"Xylodon flaviporus\"},\"pt-br\":{\"language\":\"pt-br\",\"value\":\"Xylodon
        flaviporus\"},\"eu\":{\"language\":\"eu\",\"value\":\"Xylodon flaviporus\"},\"ca\":{\"language\":\"ca\",\"value\":\"Xylodon
        flaviporus\"},\"an\":{\"language\":\"an\",\"value\":\"Xylodon flaviporus\"},\"zh\":{\"language\":\"zh\",\"value\":\"\\u6d45\\u9ec4\\u6728\\u5b54\\u83cc\"},\"zh-hans\":{\"language\":\"zh-hans\",\"value\":\"\\u6d45\\u9ec4\\u6728\\u5b54\\u83cc\"},\"zh-cn\":{\"language\":\"zh-cn\",\"value\":\"\\u6d45\\u9ec4\\u6728\\u5b54\\u83cc\"},\"mul\":{\"language\":\"mul\",\"value\":\"Xylodon
        flaviporus\"}},\"descriptions\":{\"de\":{\"language\":\"de\",\"value\":\"Art
        der Gattung Xylodon\"},\"nl\":{\"language\":\"nl\",\"value\":\"taxon\"},\"en\":{\"language\":\"en\",\"value\":\"species
        of fungi in the genus Xylodon\"},\"uk\":{\"language\":\"uk\",\"value\":\"\\u0432\\u0438\\u0434
        \\u0433\\u0440\\u0438\\u0431\\u0456\\u0432\"}},\"aliases\":[],\"claims\":{\"P225\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P225\",\"hash\":\"0981d7412adeec1d54306deb1decaa3f358f1f11\",\"datavalue\":{\"value\":\"Xylodon
        flaviporus\",\"type\":\"string\"}},\"type\":\"statement\",\"qualifiers\":{\"P405\":[{\"snaktype\":\"value\",\"property\":\"P405\",\"hash\":\"546095d290ec38d6aba41590db546eef96ccdc54\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":88847641,\"id\":\"Q88847641\"},\"type\":\"wikibase-entityid\"}},{\"snaktype\":\"value\",\"property\":\"P405\",\"hash\":\"a0b0fdab11cc97e9cf022e3a047308b7a092d337\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":1382854,\"id\":\"Q1382854\"},\"type\":\"wikibase-entityid\"}}],\"P574\":[{\"snaktype\":\"value\",\"property\":\"P574\",\"hash\":\"1f9e1336b0f7e1144c65723b468262054733e731\",\"datavalue\":{\"value\":{\"time\":\"+2017-01-01T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":9,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}}]},\"qualifiers-order\":[\"P405\",\"P574\"],\"id\":\"Q81184444$A20FF525-C861-43AC-8E49-337EFEEFEE63\",\"rank\":\"normal\",\"references\":[{\"hash\":\"4edd7b7d6f5a38aabae1bd9cf10c3f599955aa9b\",\"snaks\":{\"P248\":[{\"snaktype\":\"value\",\"property\":\"P248\",\"hash\":\"7255cff1494e6a4d2fe687e4720c4ebcfd0a4a51\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":1860469,\"id\":\"Q1860469\"},\"type\":\"wikibase-entityid\"}}],\"P813\":[{\"snaktype\":\"value\",\"property\":\"P813\",\"hash\":\"03004f8f86943e4bf1a15571641f759fbc292d9b\",\"datavalue\":{\"value\":{\"time\":\"+2022-11-04T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}}]},\"snaks-order\":[\"P248\",\"P813\"]}]}],\"P105\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P105\",\"hash\":\"aebf3611b23ed90c7c0fc80f6cd1cb7be110ea59\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":7432,\"id\":\"Q7432\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q81184444$09EB551B-5D7E-4AF8-802B-500F9AA5D9A9\",\"rank\":\"normal\"}],\"P171\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P171\",\"hash\":\"04bd4dfcb79c15391827c4363bb45a1dc3dd8e38\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":8045433,\"id\":\"Q8045433\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q81184444$46B56280-23C7-44FF-903D-35FCBA22D07B\",\"rank\":\"normal\"}],\"P31\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P31\",\"hash\":\"06629d890d7ab0ff85c403d8aadf57ce9809c01f\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":16521,\"id\":\"Q16521\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q81184444$095258A3-9A5B-4EFD-83DB-557A9994DF0E\",\"rank\":\"normal\"}],\"P962\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P962\",\"hash\":\"0126975821dbe26665b19056f2fcc8b15420c4c6\",\"datavalue\":{\"value\":\"820378\",\"type\":\"string\"}},\"type\":\"statement\",\"id\":\"Q81184444$A0E660DA-C2C8-4D84-9C35-D20E8D2377A0\",\"rank\":\"normal\",\"references\":[{\"hash\":\"6d8de16ff797dcc6baf4da449e53b96ed3b5736f\",\"snaks\":{\"P248\":[{\"snaktype\":\"value\",\"property\":\"P248\",\"hash\":\"bb710c877e539c4ab02576d83fbabd198d344ada\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":2574835,\"id\":\"Q2574835\"},\"type\":\"wikibase-entityid\"}}],\"P813\":[{\"snaktype\":\"value\",\"property\":\"P813\",\"hash\":\"6f330ee26e2cd535ff3bb4a64a7381e0ca5de56a\",\"datavalue\":{\"value\":{\"time\":\"+2020-01-06T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}}]},\"snaks-order\":[\"P248\",\"P813\"]}]}],\"P1391\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P1391\",\"hash\":\"3e296bf162341602ed555e3d913ed89bf4a64772\",\"datavalue\":{\"value\":\"820378\",\"type\":\"string\"}},\"type\":\"statement\",\"id\":\"Q81184444$9CB1C89C-3659-4105-A52A-0A4C6CC13EC8\",\"rank\":\"normal\",\"references\":[{\"hash\":\"50cd36f1f4ebdf40565bceeebf26d16a7a0e3bbf\",\"snaks\":{\"P248\":[{\"snaktype\":\"value\",\"property\":\"P248\",\"hash\":\"7255cff1494e6a4d2fe687e4720c4ebcfd0a4a51\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":1860469,\"id\":\"Q1860469\"},\"type\":\"wikibase-entityid\"}}],\"P813\":[{\"snaktype\":\"value\",\"property\":\"P813\",\"hash\":\"8a4a246d2fcf49c5bd1c3622ede357ce1d638361\",\"datavalue\":{\"value\":{\"time\":\"+2020-01-07T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}}]},\"snaks-order\":[\"P248\",\"P813\"]}]}],\"P685\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P685\",\"hash\":\"76e12911b13e0ad856ba0ad3122e9bc5b6525260\",\"datavalue\":{\"value\":\"2173181\",\"type\":\"string\"}},\"type\":\"statement\",\"id\":\"Q81184444$D4B51360-0970-4009-B003-FD9D98C79322\",\"rank\":\"normal\",\"references\":[{\"hash\":\"05aade69a4bce3236f515e40b0edf18e325a7959\",\"snaks\":{\"P248\":[{\"snaktype\":\"value\",\"property\":\"P248\",\"hash\":\"97adcbd59494446fc2aa6489cab53e41e604243c\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":12159796,\"id\":\"Q12159796\"},\"type\":\"wikibase-entityid\"}}],\"P813\":[{\"snaktype\":\"value\",\"property\":\"P813\",\"hash\":\"ad9eb4f103956d89c4dca5faef578764d1f5705e\",\"datavalue\":{\"value\":{\"time\":\"+2020-01-09T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}}]},\"snaks-order\":[\"P248\",\"P813\"]}]}],\"P3186\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P3186\",\"hash\":\"ed49fdd91148c10fe9c3a9b47f9f1fb15cc96a88\",\"datavalue\":{\"value\":\"901833\",\"type\":\"string\"}},\"type\":\"statement\",\"id\":\"Q81184444$CD222945-CCBE-44CC-87D3-245EE1661ED9\",\"rank\":\"normal\",\"references\":[{\"hash\":\"3ce38853acedc36698427a0cc0841830aa9d8d30\",\"snaks\":{\"P248\":[{\"snaktype\":\"value\",\"property\":\"P248\",\"hash\":\"6c09d1d89e83bd0dfa6c94e01d24a9a47489d83e\",\"datavalue\":{\"value\":{\"entit[...]
- request:
    method: GET
    uri: http://wikidata.org/w/api.php?action=parse&prop=wikitext%7Crevid&page=Property%3AP225&format=json
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"parse":{"title":"Property:P225","pageid":6242846,"revid":2505070588,"wikitext":{"*":"{\"type\":\"property\",\"datatype\":\"string\",\"id\":\"P225\",\"labels\":{\"en\":{\"language\":\"en\",\"value\":\"taxon
        name\"},\"nb\":{\"language\":\"nb\",\"value\":\"vitenskapelig navn\"},\"pl\":{\"language\":\"pl\",\"value\":\"naukowa
        nazwa taksonu\"},\"de\":{\"language\":\"de\",\"value\":\"wissenschaftlicher
        Name\"},\"ko\":{\"language\":\"ko\",\"value\":\"\\ud559\\uba85\"},\"fr\":{\"language\":\"fr\",\"value\":\"nom
        scientifique du taxon\"},\"sr\":{\"language\":\"sr\",\"value\":\"\\u043d\\u0430\\u0437\\u0438\\u0432
        \\u0442\\u0430\\u043a\\u0441\\u043e\\u043d\\u0430\"},\"fi\":{\"language\":\"fi\",\"value\":\"tieteellinen
        nimi\"},\"ca\":{\"language\":\"ca\",\"value\":\"nom cient\\u00edfic\"},\"it\":{\"language\":\"it\",\"value\":\"nome
        scientifico\"},\"ru\":{\"language\":\"ru\",\"value\":\"\\u043c\\u0435\\u0436\\u0434\\u0443\\u043d\\u0430\\u0440\\u043e\\u0434\\u043d\\u043e\\u0435
        \\u043d\\u0430\\u0443\\u0447\\u043d\\u043e\\u0435 \\u043d\\u0430\\u0437\\u0432\\u0430\\u043d\\u0438\\u0435\"},\"uk\":{\"language\":\"uk\",\"value\":\"\\u043d\\u0430\\u0443\\u043a\\u043e\\u0432\\u0430
        \\u043d\\u0430\\u0437\\u0432\\u0430 \\u0442\\u0430\\u043a\\u0441\\u043e\\u043d\\u0430\"},\"nl\":{\"language\":\"nl\",\"value\":\"wetenschappelijke
        naam\"},\"pt\":{\"language\":\"pt\",\"value\":\"nome do t\\u00e1xon\"},\"hu\":{\"language\":\"hu\",\"value\":\"tudom\\u00e1nyos
        n\\u00e9v\"},\"fa\":{\"language\":\"fa\",\"value\":\"\\u0646\\u0627\\u0645
        \\u0622\\u0631\\u0627\\u06cc\\u0647 (\\u0632\\u06cc\\u0633\\u062a\\u200c\\u0634\\u0646\\u0627\\u0633\\u06cc)\"},\"es\":{\"language\":\"es\",\"value\":\"nombre
        del tax\\u00f3n\"},\"ja\":{\"language\":\"ja\",\"value\":\"\\u5b66\\u540d\"},\"nds\":{\"language\":\"nds\",\"value\":\"Wetenschoplich
        Naam\"},\"vi\":{\"language\":\"vi\",\"value\":\"t\\u00ean ph\\u00e2n lo\\u1ea1i\"},\"lv\":{\"language\":\"lv\",\"value\":\"taksona
        nosaukums\"},\"zh\":{\"language\":\"zh\",\"value\":\"\\u5b66\\u540d\"},\"af\":{\"language\":\"af\",\"value\":\"wetenskaplike
        naam\"},\"be\":{\"language\":\"be\",\"value\":\"\\u043c\\u0456\\u0436\\u043d\\u0430\\u0440\\u043e\\u0434\\u043d\\u0430\\u044f
        \\u043d\\u0430\\u0432\\u0443\\u043a\\u043e\\u0432\\u0430\\u044f \\u043d\\u0430\\u0437\\u0432\\u0430\"},\"zh-hans\":{\"language\":\"zh-hans\",\"value\":\"\\u5b66\\u540d\"},\"zh-hant\":{\"language\":\"zh-hant\",\"value\":\"\\u5b78\\u540d\"},\"hr\":{\"language\":\"hr\",\"value\":\"ime
        taksona\"},\"ro\":{\"language\":\"ro\",\"value\":\"nume \\u0219tiin\\u021bific\"},\"sl\":{\"language\":\"sl\",\"value\":\"znanstveno
        ime\"},\"ilo\":{\"language\":\"ilo\",\"value\":\"takson a nagan\"},\"he\":{\"language\":\"he\",\"value\":\"\\u05e9\\u05dd
        \\u05d8\\u05e7\\u05e1\\u05d5\\u05df\"},\"cs\":{\"language\":\"cs\",\"value\":\"taxonomick\\u00e9
        jm\\u00e9no\"},\"da\":{\"language\":\"da\",\"value\":\"videnskabeligt navn\"},\"uz\":{\"language\":\"uz\",\"value\":\"xalqaro
        ilmiy nomi\"},\"gl\":{\"language\":\"gl\",\"value\":\"nome do taxon\"},\"zh-tw\":{\"language\":\"zh-tw\",\"value\":\"\\u5b78\\u540d\"},\"id\":{\"language\":\"id\",\"value\":\"nama
        takson\"},\"min\":{\"language\":\"min\",\"value\":\"namo takson\"},\"sh\":{\"language\":\"sh\",\"value\":\"ime
        taksona\"},\"bar\":{\"language\":\"bar\",\"value\":\"wissenschaftlicher Name\"},\"sk\":{\"language\":\"sk\",\"value\":\"taxonomick\\u00e9
        meno\"},\"sv\":{\"language\":\"sv\",\"value\":\"vetenskapligt namn\"},\"el\":{\"language\":\"el\",\"value\":\"\\u03b5\\u03c0\\u03b9\\u03c3\\u03c4\\u03b7\\u03bc\\u03bf\\u03bd\\u03b9\\u03ba\\u03ae
        \\u03bf\\u03bd\\u03bf\\u03bc\\u03b1\\u03c3\\u03af\\u03b1\"},\"co\":{\"language\":\"co\",\"value\":\"nome
        di tassone\"},\"mk\":{\"language\":\"mk\",\"value\":\"\\u043d\\u0430\\u0437\\u0438\\u0432
        \\u043d\\u0430 \\u0442\\u0430\\u043a\\u0441\\u043e\\u043d\\u043e\\u0442\"},\"oc\":{\"language\":\"oc\",\"value\":\"nom
        scientific\"},\"th\":{\"language\":\"th\",\"value\":\"\\u0e0a\\u0e37\\u0e48\\u0e2d\\u0e27\\u0e34\\u0e17\\u0e22\\u0e32\\u0e28\\u0e32\\u0e2a\\u0e15\\u0e23\\u0e4c\"},\"yi\":{\"language\":\"yi\",\"value\":\"\\u05d8\\u05d0\\u05e7\\u05e1\\u05d0\\u05df
        \\u05e0\\u05d0\\u05de\\u05e2\\u05df\"},\"eo\":{\"language\":\"eo\",\"value\":\"taksonomia
        nomo\"},\"ms\":{\"language\":\"ms\",\"value\":\"nama takson\"},\"gu\":{\"language\":\"gu\",\"value\":\"\\u0ab5\\u0ab0\\u0acd\\u0a97\\u0ac0\\u0a95\\u0ac3\\u0aa4
        \\u0aa8\\u0abe\\u0aae\"},\"bs\":{\"language\":\"bs\",\"value\":\"ime taksona\"},\"pt-br\":{\"language\":\"pt-br\",\"value\":\"nome
        taxol\\u00f3gico\"},\"zh-cn\":{\"language\":\"zh-cn\",\"value\":\"\\u5b66\\u540d\"},\"ka\":{\"language\":\"ka\",\"value\":\"\\u10e2\\u10d0\\u10e5\\u10e1\\u10dd\\u10dc\\u10d8\\u10e1
        \\u10e1\\u10d0\\u10ee\\u10d4\\u10da\\u10d8\"},\"sco\":{\"language\":\"sco\",\"value\":\"taxon
        name\"},\"lt\":{\"language\":\"lt\",\"value\":\"mokslinis pavadinimas\"},\"la\":{\"language\":\"la\",\"value\":\"taxon
        nomen\"},\"be-tarask\":{\"language\":\"be-tarask\",\"value\":\"\\u043c\\u0456\\u0436\\u043d\\u0430\\u0440\\u043e\\u0434\\u043d\\u0430\\u044f
        \\u043d\\u0430\\u0432\\u0443\\u043a\\u043e\\u0432\\u0430\\u044f \\u043d\\u0430\\u0437\\u0432\\u0430\"},\"ml\":{\"language\":\"ml\",\"value\":\"\\u0d36\\u0d3e\\u0d38\\u0d4d\\u0d24\\u0d4d\\u0d30\\u0d40\\u0d2f\\u0d28\\u0d3e\\u0d2e\\u0d02\"},\"lb\":{\"language\":\"lb\",\"value\":\"w\\u00ebssenschaftlechen
        Numm\"},\"nn\":{\"language\":\"nn\",\"value\":\"vitskapleg namn\"},\"gsw\":{\"language\":\"gsw\",\"value\":\"wisseschaftlige
        Name\"},\"zh-hk\":{\"language\":\"zh-hk\",\"value\":\"\\u5b78\\u540d\"},\"sr-ec\":{\"language\":\"sr-ec\",\"value\":\"\\u043d\\u0430\\u0437\\u0438\\u0432
        \\u0442\\u0430\\u043a\\u0441\\u043e\\u043d\\u0430\"},\"sr-el\":{\"language\":\"sr-el\",\"value\":\"naziv
        taksona\"},\"br\":{\"language\":\"br\",\"value\":\"anv skiantel\"},\"ia\":{\"language\":\"ia\",\"value\":\"nomine
        del taxon\"},\"eu\":{\"language\":\"eu\",\"value\":\"izen zientifikoa\"},\"scn\":{\"language\":\"scn\",\"value\":\"nomu
        scient\\u00ecficu\"},\"en-ca\":{\"language\":\"en-ca\",\"value\":\"taxon name\"},\"ar\":{\"language\":\"ar\",\"value\":\"\\u0627\\u0644\\u0627\\u0633\\u0645
        \\u0627\\u0644\\u0639\\u0644\\u0645\\u064a \\u0644\\u0644\\u0623\\u0635\\u0646\\u0648\\u0641\\u0629\"},\"tru\":{\"language\":\"tru\",\"value\":\"arbanitika\"},\"sq\":{\"language\":\"sq\",\"value\":\"emri
        shkencor\"},\"hy\":{\"language\":\"hy\",\"value\":\"\\u0574\\u056b\\u057b\\u0561\\u0566\\u0563\\u0561\\u0575\\u056b\\u0576
        \\u0563\\u056b\\u057f\\u0561\\u056f\\u0561\\u0576 \\u0561\\u0576\\u057e\\u0561\\u0576\\u0578\\u0582\\u0574\"},\"ga\":{\"language\":\"ga\",\"value\":\"ainm
        an tacs\\u00f3in\"},\"bg\":{\"language\":\"bg\",\"value\":\"\\u0438\\u043c\\u0435
        \\u043d\\u0430 \\u0442\\u0430\\u043a\\u0441\\u043e\\u043d\"},\"et\":{\"language\":\"et\",\"value\":\"teaduslik
        nimetus\"},\"ast\":{\"language\":\"ast\",\"value\":\"nome del tax\\u00f3n\"},\"frr\":{\"language\":\"frr\",\"value\":\"wedenskapelk
        n\\u00f6\\u00f6m\"},\"cy\":{\"language\":\"cy\",\"value\":\"enw tacson\"},\"ta\":{\"language\":\"ta\",\"value\":\"\\u0bb5\\u0b95\\u0bc8\\u0baa\\u0bcd\\u0baa\\u0bbe\\u0b9f\\u0bcd\\u0b9f\\u0bbf\\u0baf\\u0bb2\\u0bcd
        \\u0baa\\u0bc6\\u0baf\\u0bb0\\u0bcd\"},\"ku-latn\":{\"language\":\"ku-latn\",\"value\":\"nav\\u00ea
        zanist\\u00ee\"},\"bn\":{\"language\":\"bn\",\"value\":\"\\u09ac\\u09b0\\u09cd\\u0997\\u0995
        \\u09a8\\u09be\\u09ae\"},\"tr\":{\"language\":\"tr\",\"value\":\"takson ad\\u0131\"},\"pam\":{\"language\":\"pam\",\"value\":\"lagyung
        takson\"},\"tl\":{\"language\":\"tl\",\"value\":\"pangalang takson\"},\"ne\":{\"language\":\"ne\",\"value\":\"\\u091f\\u094d\\u092f\\u093e\\u0915\\u094d\\u0938\\u0928
        \\u0928\\u093e\\u092e\"},\"tg\":{\"language\":\"tg\",\"value\":\"\\u043d\\u043e\\u043c\\u0438
        \\u0431\\u0430\\u0439\\u043d\\u0430\\u043b\\u043c\\u0438\\u043b\\u0430\\u043b\\u043b\\u0438\\u0438
        \\u0438\\u043b\\u043c\\u04e3\"},\"tg-cyrl\":{\"language\":\"tg-cyrl\",\"value\":\"\\u043d\\u043e\\u043c\\u0438
        \\u0431\\u0430\\u0439\\u043d\\u0430\\u043b\\u043c\\u0438\\u043b\\u0430\\u043b\\u043b\\u0438\\u0438
        \\u0438\\u043b\\u043c\\u04e3\"},\"ba\":{\"language\":\"ba\",\"value\":\"\\u0445\\u0430\\u043b\\u044b\\u04a1-\\u0430\\u0440\\u0430
        \\u0493\\u0438\\u043b\\u043c\\u0438 \\u0430\\u0442\\u0430\\u043c\\u0430\\u04bb\\u044b\"},\"tt\":{\"language\":\"tt\",\"value\":\"\\u0445\\u0430\\u043b\\u044b\\u043a\\u0430\\u0440\\u0430
        \\u0444\\u04d9\\u043d\\u043d\\u0438 \\u0438\\u0441\\u0435\\u043c\"},\"ur\":{\"language\":\"ur\",\"value\":\"\\u0635\\u0646\\u0641
        \\u0628\\u0646\\u062f\\u06cc \\u0646\\u0627\\u0645\"},\"mr\":{\"language\":\"mr\",\"value\":\"\\u0935\\u0930\\u094d\\u0917\\u093e\\u091a\\u0947
        \\u0928\\u093e\\u0935\"},\"pa\":{\"language\":\"pa\",\"value\":\"\\u0a1f\\u0a48\\u0a15\\u0a38\\u0a28
        \\u0a28\\u0a3e\\u0a02\"},\"az\":{\"language\":\"az\",\"value\":\"takson ad\\u0131\"},\"su\":{\"language\":\"su\",\"value\":\"ngaran
        takson\"},\"se\":{\"language\":\"se\",\"value\":\"die\\u0111ala\\u0161 namma\"},\"smn\":{\"language\":\"smn\",\"value\":\"tie\\u0111\\u00e2l\\u00e2\\u0161
        nomm\\u00e2\"},\"sms\":{\"language\":\"sms\",\"value\":\"ti\\u00f5\\u0111la\\u017e
        n\\u00f5mm\"},\"vec\":{\"language\":\"vec\",\"value\":\"nome sient\\u00ecfego\"},\"arz\":{\"language\":\"arz\",\"value\":\"\\u0627\\u0644\\u0627\\u0633\\u0645
        \\u0627\\u0644\\u0639\\u0644\\u0645\\u0649 \\u0644\\u0644\\u062a\\u0635\\u0646\\u064a\\u0641\\u0647\"},\"jv\":{\"language\":\"jv\",\"value\":\"aran
        takson\"},\"my\":{\"language\":\"my\",\"value\":\"\\u1010\\u1000\\u103a\\u1006\\u103d\\u1014\\u103a
        \\u1021\\u1019\\u100a\\u103a\"},\"xmf\":{\"language\":\"xmf\",\"value\":\"\\u10e2\\u10d0\\u10e5\\u10e1\\u10dd\\u10dc\\u10d8\\u10e8
        \\u10ef\\u10dd\\u10ee\\u10dd\"},\"pap\":{\"language\":\"pap\",\"value\":\"n\\u00f2mber
        sient\\u00edfiko\"},\"gd\":{\"language\":\"gd\",\"value\":\"ainm an tacsoin\"},\"ks\":{\"language\":\"ks\",\"value\":\"\\u062f\\u064e\\u0631\\u062c\\u06c1\\u0655
        \\u0628\\u0654\\u0646\\u062f\\u06cc \\u0646\\u0627\\u0648\"},\"ig\":{\"language\":\"ig\",\"value\":\"aha
        taxon\"},\"pnb\":{\"language\":\"pnb\",\"value\":\"\\u0679\\u06cc\\u06a9\\u0633\\u0646
        \\u0646\\u0627\\u06ba\"},\"ky\":{\"language\":\"ky\",\"value\":\"\\u044d\\u043b
        \\u0430\\u0440\\u0430\\u043b\\u044b\\u043a \\u0438\\u043b\\u0438\\u043c\\u0438\\u0439
        \\u0430\\u0442\\u0430\\u043b\\u044b\\u0448\\u044b\"},\"dag\":{\"language\":\"dag\",\"value\":\"Nangban
        yi\\u014bga Yuya\"},\"nqo\":{\"language\":\"nqo\",\"value\":\"\\u07db\\u07cc\\u07d3\\u07df\\u07cf\\u07e1\\u07ca
        \\u07df\\u07d0\\u07f2\\u07de\\u07cf\\u07eb \\u07d5\\u07d0\\u07ee\"},\"ckb\":{\"language\":\"ckb\",\"value\":\"\\u0646\\u0627\\u0648\\u06cc
        \\u067e\\u06c6\\u0644\\u06ce\\u0646\\u06a9\\u0631\\u062f\\u0646\"},\"kaa\":{\"language\":\"kaa\",\"value\":\"xal\\u0131qaral\\u0131q
        ilimiy at\\u0131\"},\"ext\":{\"language\":\"ext\",\"value\":\"nombri del tass\\u00f3n\"},\"szl\":{\"language\":\"szl\",\"value\":\"naukowe
        miano taks\\u014dnu\"},\"ps\":{\"language\":\"ps\",\"value\":\"\\u0689\\u0644\\u0646\\u0648\\u0645\"},\"tly\":{\"language\":\"tly\",\"value\":\"taksoni
        nom\"},\"zgh\":{\"language\":\"zgh\",\"value\":\"\\u2d49\\u2d59\\u2d4e \\u2d4f
        \\u2d53\\u2d59\\u2d4f\\u2d4e\\u2d30\\u2d4d\\u2d30\"},\"tok\":{\"language\":\"tok\",\"value\":\"nimi
        pi kulupu pi ijo lon pi sama lukin\"},\"kw\":{\"language\":\"kw\",\"value\":\"hanow
        takson\"}},\"descriptions\":{\"en\":{\"language\":\"en\",\"value\":\"correct
        scientific name of a taxon (according to the reference given)\"},\"de\":{\"language\":\"de\",\"value\":\"wissenschaftlicher
        Name einer Gruppe von Lebewesen\"},\"fr\":{\"language\":\"fr\",\"value\":\"nom
        scientifique valide\\/correct d''un taxon biologique (utiliser pour les \\u00e9l\\u00e9ments
        d\\u00e9clarant P31:Q16521)\"},\"sr\":{\"languag[...]
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&type=item&language=en&limit=10&search=Basidiodendron+eyrei&format=json
  response:
    status: 200
    headers:
      x-search-id: 23v6sjo44p3c0e48wvufw613d
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"searchinfo":{"search":"Basidiodendron eyrei"},"search":[{"id":"Q10426788","title":"Q10426788","pageid":11728272,"concepturi":"http://www.wikidata.org/entity/Q10426788","repository":"wikidata","url":"//www.wikidata.org/wiki/Q10426788","display":{"label":{"value":"Basidiodendron
        eyrei","language":"en"},"description":{"value":"species of fungus","language":"en"}},"label":"Basidiodendron
        eyrei","description":"species of fungus","match":{"type":"label","language":"en","text":"Basidiodendron
        eyrei"}}],"success":1}'
  recorded_at: 2026-06-17 18:55:16
[...]
