http_interactions:
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&type=item&language=en&limit=10&search=Basidiodendron+eyrei&format=json
  response:
    status: 200
    headers:
      x-search-id: 1ubq0r1h7gtq6sfxffo5ylkrg
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"searchinfo":{"search":"Basidiodendron eyrei"},"search":[{"id":"Q10426788","title":"Q10426788","pageid":11728272,"concepturi":"http://www.wikidata.org/entity/Q10426788","repository":"wikidata","url":"//www.wikidata.org/wiki/Q10426788","display":{"label":{"value":"Basidiodendron
        eyrei","language":"en"},"description":{"value":"species of fungus","language":"en"}},"label":"Basidiodendron
        eyrei","description":"species of fungus","match":{"type":"label","language":"en","text":"Basidiodendron
        eyrei"}}],"success":1}'
  recorded_at: 2026-06-19 11:52:00
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&type=item&language=en&limit=10&search=Fomes+fomentarius&format=json
  response:
    status: 200
    headers:
      x-search-id: 4xh8gupwhj1vojdxnaezmw5w7
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"searchinfo":{"search":"Fomes fomentarius"},"search":[[...]
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&type=item&language=en&limit=10&search=Mycena+renati&format=json
  response:
    status: 200
    headers:
      x-search-id: dnnboc68ulwm7xnazdjozozw5
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"searchinfo":{"search":"Mycena renati"},"search":[{"id":"Q3066470","title":"Q3066470","pageid":2931000,"concepturi":"http://www.wikidata.org/entity/Q3066470","repository":"wikidata","url":"//www.wikidata.org/wiki/Q3066470","display":{"label":{"value":"Mycena
        renati","language":"en"},"description":{"value":"species of fungus","language":"en"}},"label":"Mycena
        renati","description":"species of fungus","match":{"type":"label","language":"en","text":"Mycena
        renati"}},{"id":"Q84341599","title":"Q84341599","pageid":83642921,"concepturi":"http://www.wikidata.org/entity/Q84341599","repository":"wikidata","url":"//www.wikidata.org/wiki/Q84341599","display":{"label":{"value":"Mycena
        renatii","language":"en"},"description":{"value":"species of fungi in the
        genus Mycena","language":"en"}},"label":"Mycena renatii","description":"species
        of fungi in the genus Mycena","match":{"type":"label","language":"en","text":"Mycena
        renatii"}}],"success":1}'
  recorded_at: 2026-06-19 11:52:00
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&type=item&language=en&limit=10&search=Xylodon+flaviporus&format=json
  response:
    status: 200
    headers:
      x-search-id: avlcmxma0z6roihez07yie75j
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"searchinfo":{"search":"Xylodon flaviporus"},"search"[...]
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&type=item&language=en&limit=10&search=Stypella+subgelatinosa&format=json
  response:
    status: 200
    headers:
      x-search-id: 466z84f1gg5rt6oevqedz5s34
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"searchinfo":{"search":"Stypella subgelatinosa"},"search":[{"id":"Q10572961","title":"Q10572961","pageid":11863706,"concepturi":"http://www.wikidata.org/entity/Q10572961","repository":"wikidata","url":"//www.wikidata.org/wiki/Q10572961","display":{"label":{"value":"Stypella
        subgelatinosa","language":"en"},"description":{"value":"species of fungus","language":"en"}},"label":"Stypella
        subgelatinosa","description":"species of fungus","match":{"type":"label","language":"en","text":"Stypella
        subgelatinosa"}}],"success":1}'
  recorded_at: 2026-06-19 11:52:01
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&type=item&language=en&limit=10&search=Sistotrema+raduloides&format=json
  response:
    status: 200
    headers:
      x-search-id: e4fpywu9d2gu16ej3p1q1dfdl
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"searchinfo":{"search":"Sistotrema raduloides"},"search":[{"id":"Q10609184","title":"Q10609184","pageid":11895054,"concepturi":"http://www.wikidata.org/entity/Q10609184","repository":"wikidata","url":"//www.wikidata.org/wiki/Q10609184","display":{"label":{"value":"Sistotrema
        raduloides","language":"en"},"description":{"value":"species of fungus","language":"en"}},"label":"Sistotrema
        raduloides","description":"species of fungus","match":{"type":"label","language":"en","text":"Sistotrema
        raduloides"}}],"success":1}'
  recorded_at: 2026-06-19 11:52:01
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q10426788&format=json&props=sitelinks
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"entities":{"Q10426788":{"type":"item","id":"Q10426788","sitelinks":{"cebwiki":{"site":"cebwiki","title":"Basidiodendron
        eyrei","badges":[]},"svwiki":{"site":"svwiki","title":"Basidiodendron eyrei","badges":[]},"szlwiki":{"site":"szlwiki","title":"Basidiodendron
        eyrei","badges":[]}}}},"success":1}'
  recorded_at: 2026-06-19 11:52:01
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q229814&format=json&props=sitelinks
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"entities":{"Q229814":{"type":"item","id":"Q229814","sitelinks":{"anwiki":{"site":"anwiki","title":"Fomes
        fomentarius","badges":[]},"arwiki":{"site":"arwiki","title":"\u0641\u0637\u0631
        \u0627\u0644\u0635\u0648\u0641\u0627\u0646","badges":[]},"arzwiki":{"site":"arzwiki","title":"\u0641\u0648\u0645\u064a\u0646\u062a\u0627\u0631\u064a\u0648\u0633","badges":[]},"atjwiki":{"site":"atjwiki","title":"Sikatakan","badges":[]},"azwiki":{"site":"azwiki","title":"Qov
        g\u00f6b\u0259l\u0259yi","badges":[]},"bat_smgwiki":{"site":"bat_smgwiki","title":"Kemp\u0117","badges":[]},"bewiki":{"site":"bewiki","title":"\u0413\u0443\u0431\u0430
        \u0448\u044d\u0440\u0430\u044f \u0431\u044f\u0440\u043e\u0437\u0430\u0432\u0430\u044f","badges":[]},"cawiki":{"site":"cawiki","title":"Bolet
        d''esca","badges":[]},"cebwiki":{"site":"cebwiki","title":"Fomes fomentarius","badges":[]},"commonswiki":{"site":"commonswiki","title":"Fomes
        fomentarius","badges":[]},"cowiki":{"site":"cowiki","title":"Esca","badges":[]},"cswiki":{"site":"cswiki","title":"Troudnatec
        kopytovit\u00fd","badges":[]},"cywiki":{"site":"cywiki","title":"Carn y fedwen","badges":[]},"dawiki":{"site":"dawiki","title":"T\u00f8ndersvamp","badges":[]},"dewiki":{"site":"dewiki","title":"Zunderschwamm","badges":[]},"enwiki":{"site":"enwiki","title":"Fomes
        fomentarius","badges":[]},"eowiki":{"site":"eowiki","title":"Fomes fomentarius","badges":[]},"eswiki":{"site":"eswiki","title":"Polyporus
        fomentarius","badges":[]},"etwiki":{"site":"etwiki","title":"Tuletael","badges":[]},"euwiki":{"site":"euwiki","title":"Supizteko
        ardagai","badges":[]},"fiwiki":{"site":"fiwiki","title":"Taulak\u00e4\u00e4p\u00e4","badges":[]},"frwiki":{"site":"frwiki","title":"Amadouvier","badges":[]},"hrwiki":{"site":"hrwiki","title":"Bukova
        guba","badges":[]},"huwiki":{"site":"huwiki","title":"B\u00fckkfa-tapl\u00f3","badges":[]},"idwiki":{"site":"idwiki","title":"Tirhau
        selampahan","badges":[]},"itwiki":{"site":"itwiki","title":"Fomes fomentarius","badges":[]},"kawiki":{"site":"kawiki","title":"\u10d0\u10d1\u10d4\u10d3\u10d8\u10e1
        \u10e1\u10dd\u10d9\u10dd","badges":[]},"kuwiki":{"site":"kuwiki","title":"Karoka
        p\u00fb\u015f\u00ee","badges":[]},"ltwiki":{"site":"ltwiki","title":"Tikroji
        pintis","badges":[]},"mkwiki":{"site":"mkwiki","title":"\u0422\u0440\u0430\u0442","badges":[]},"nlwiki":{"site":"nlwiki","title":"Echte
        tonderzwam","badges":[]},"nnwiki":{"site":"nnwiki","title":"Knuskkjuke","badges":[]},"nowiki":{"site":"nowiki","title":"Knuskkjuke","badges":[]},"plwiki":{"site":"plwiki","title":"Hubiak
        pospolity","badges":[]},"pmswiki":{"site":"pmswiki","title":"Fomes fomentarius","badges":[]},"ptwiki":{"site":"ptwiki","title":"Fomes
        fomentarius","badges":[]},"roa_rupwiki":{"site":"roa_rupwiki","title":"Easc\u00e3","badges":[]},"rowiki":{"site":"rowiki","title":"Fomes
        fomentarius","badges":[]},"ruwiki":{"site":"ruwiki","title":"\u0422\u0440\u0443\u0442\u043e\u0432\u0438\u043a
        \u043d\u0430\u0441\u0442\u043e\u044f\u0449\u0438\u0439","badges":[]},"slwiki":{"site":"slwiki","title":"Bukova
        kresilka","badges":[]},"specieswiki":{"site":"specieswiki","title":"Fomes
        fomentarius","badges":[]},"sqwiki":{"site":"sqwiki","title":"Eshka","badges":[]},"srwiki":{"site":"srwiki","title":"\u0422\u0440\u0443\u0434
        (\u0433\u0459\u0438\u0432\u0430)","badges":[]},"svwiki":{"site":"svwiki","title":"Fn\u00f6skticka","badges":[]},"trwiki":{"site":"trwiki","title":"Kav
        mantar\u0131","badges":[]},"tyvwiki":{"site":"tyvwiki","title":"\u0414\u044b\u0442
        \u0447\u0435\u043a\u043f\u0435\u0437\u0438","badges":[]},"ukwiki":{"site":"ukwiki","title":"\u0422\u0440\u0443\u0442\u043e\u0432\u0438\u043a
        \u0441\u043f\u0440\u0430\u0432\u0436\u043d\u0456\u0439","badges":[]},"viwiki":{"site":"viwiki","title":"Fomes
        fomentarius","badges":[]},"warwiki":{"site":"warwiki","title":"Fomes fomentarius","badges":[]},"zhwiki":{"site":"zhwiki","title":"\u6728\u8e44\u5c64\u5b54\u83cc","badges":[]}}}},"success":1}'
  recorded_at: 2026-06-19 11:52:01
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q3066470&format=json&props=sitelinks
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"entities":{"Q3066470":{"type":"item","id":"Q3066470","sitelinks":{"cebwiki":{"site":"cebwiki","title":"Mycena
        renati","badges":[]},"commonswiki":{"site":"commonswiki","title":"Mycena renati","badges":[]},"cswiki":{"site":"cswiki","title":"Helmovka
        medonoh\u00e1","badges":[]},"cywiki":{"site":"cywiki","title":"Bonet hardd","badges":[]},"dewiki":{"site":"dewiki","title":"Gelbstieliger
        Nitrat-Helmling","badges":[]},"enwiki":{"site":"enwiki","title":"Mycena renati","badges":[]},"eswiki":{"site":"eswiki","title":"Mycena
        renati","badges":[]},"etwiki":{"site":"etwiki","title":"Kollajalg-m\u00fctsik","badges":[]},"euwiki":{"site":"euwiki","title":"Mycena
        renati","badges":[]},"frwiki":{"site":"frwiki","title":"Myc\u00e8ne \u00e0
        pied jaune","badges":[]},"huwiki":{"site":"huwiki","title":"S\u00e1rg\u00e1st\u00f6nk\u0171
        k\u00edgy\u00f3gomba","badges":[]},"nlwiki":{"site":"nlwiki","title":"Geelsteelmycena","badges":[]},"nnwiki":{"site":"nnwiki","title":"Prydhette","badges":[]},"plwiki":{"site":"plwiki","title":"Grzyb\u00f3wka
        z\u0142ototrzonowa","badges":[]},"rowiki":{"site":"rowiki","title":"Mycena
        renati","badges":[]},"slwiki":{"site":"slwiki","title":"Renejeva \u010deladica","badges":[]},"svwiki":{"site":"svwiki","title":"Gulfotsh\u00e4tta","badges":[]},"warwiki":{"site":"warwiki","title":"Mycena
        renati","badges":[]}}}},"success":1}'
  recorded_at: 2026-06-19 11:52:01
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q81184444&format=json&props=sitelinks
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"entities":{"Q81184444":{"type":"item","id":"Q81184444","sitelinks":{}}},"success":1}'
  recorded_at: 2026-06-19 11:52:02
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q10572961&format=json&props=sitelinks
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"entities":{"Q10572961":{"type":"item","id":"Q10572961","sitelinks":{"cebwiki":{"site":"cebwiki","title":"Stypella
        subgelatinosa","badges":[]},"plwiki":{"site":"plwiki","title":"Z\u0119bo\u015bluzek
        kr\u00f3tkokolczasty","badges":[]},"svwiki":{"site":"svwiki","title":"L\u00f6vgr\u00e5tagging","badges":[]}}}},"success":1}'
  recorded_at: 2026-06-19 11:52:02
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q10609184&format=json&props=sitelinks
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"entities":{"Q10609184":{"type":"item","id":"Q10609184","sitelinks":{"bewiki":{"site":"bewiki","title":"\u0421\u0456\u0441\u0442\u0430\u0442\u0440\u044d\u043c\u0430
        \u0442\u0430\u0440\u043a\u0430\u043f\u0430\u0434\u043e\u0431\u043d\u0430\u044f","badges":[]},"cebwiki":{"site":"cebwiki","title":"Sistotrema
        raduloides","badges":[]},"commonswiki":{"site":"commonswiki","title":"Category:Sistotrema
        raduloides","badges":[]},"etwiki":{"site":"etwiki","title":"Hambune sistotreem","badges":[]},"ptwiki":{"site":"ptwiki","title":"Sistotrema
        raduloides","badges":[]},"svwiki":{"site":"svwiki","title":"Oljetagging","badges":[]},"ukwiki":{"site":"ukwiki","title":"Sistotrema
        raduloides","badges":[]}}}},"success":1}'
  recorded_at: 2026-06-19 11:52:02
- request:
    method: GET
    uri: https://ceb.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Basidiodendron+eyrei
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1797904":{"pageid":1797904,"ns":0,"title":"Basidiodendron
        eyrei","revisions":[{"size":3685}]}}}}'
  recorded_at: 2026-06-19 11:52:02
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/ceb.wikipedia/all-access/all-agents/Basidiodendron%20eyrei/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"items":[{"project":"ceb.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024010300","access":"all-access","agent":"all-agents","views":1},{"project":"ceb.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024010600","access":"all-access","agent":"all-agents","views":1},{"project":"ceb.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024010900","access":"all-access","agent":"all-agents","views":2},{"project":"ceb.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024011000","access":"all-access","agent":"all-agents","views":1},{"project":"ceb.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024011600","access":"all-access","agent":"all-agents","views":1},{"project":"ceb.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024011900","access":"all-access","agent":"all-agents","views":1},{"project":"ceb.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024012100","access":"all-access","agent":"all-agents","views":1}]}'
  recorded_at: 2026-06-19 11:52:02
- request:
    method: GET
    uri: https://sv.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Basidiodendron+eyrei
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1775401":{"pageid":1775401,"ns":0,"title":"Basidiodendron
        eyrei","revisions":[{"size":2770}]}}}}'
  recorded_at: 2026-06-19 11:52:03
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/sv.wikipedia/all-access/all-agents/Basidiodendron%20eyrei/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"items":[{"project":"sv.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024010300","access":"all-access","agent":"all-agents","views":2},{"project":"sv.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024010600","access":"all-access","agent":"all-agents","views":1},{"project":"sv.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024011800","access":"all-access","agent":"all-agents","views":1},{"project":"sv.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024012000","access":"all-access","agent":"all-agents","views":1},{"project":"sv.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024012200","access":"all-access","agent":"all-agents","views":1},{"project":"sv.wikipedia","article":"Basidiodendron_eyrei","granularity":"daily","timestamp":"2024012700","access":"all-access","agent":"all-agents","views":1}]}'
  recorded_at: 2026-06-19 11:52:03
- request:
    method: GET
    uri: https://szl.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Basidiodendron+eyrei
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"batchcomplete":"","query":{"pages":{"62986":{"pageid":62986,"ns":0,"title":"Basidiodendron
        eyrei","revisions":[{"size":2034}]}}}}'
  recorded_at: 2026-06-19 11:52:03
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/szl.wikipedia/all-access/all-agents/Basidiodendron%20eyrei/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"items":[{"project":"szl.wikipedia","article":"Basidiodendron_eyrei","granulari[...]
- request:
    method: GET
    uri: https://an.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Fomes+fomentarius
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"batchcomplete":"","query":{"pages":{"141417":{"pageid":141417,"ns":0,"title":"Fomes
        fomentarius","revisions":[{"size":2056}]}}}}'
  recorded_at: 2026-06-19 11:52:04
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/an.wikipedia/all-access/all-agents/Fomes%20fomentarius/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"items":[{"project":"an.wikipedia","article":"Fomes_fomentarius","granularity":"dai[...]
- request:
    method: GET
    uri: https://ar.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=%D9%81%D8%B7%D8%B1+%D8%A7%D9%84%D8%B5%D9%88%D9%81%D8%A7%D9%86
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"batchcomplete":"","query":{"pages":{"9179431":{"pageid":9179431,"ns":0,"title":"\u0641\u0637\u0631
        \u0627\u0644\u0635\u0648\u0641\u0627\u0646","revisions":[{"size":1693}]}}}}'
  recorded_at: 2026-06-19 11:52:04
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/ar.wikipedia/all-access/all-agents/%D9%81%D8%B7%D8%B1%20%D8%A7%D9%84%D8%B5%D9%88%D9%81%D8%A7%D9%86/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"items":[{"project":"ar.wikipedia","art[...]
- request:
    method: GET
    uri: https://arz.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=%D9%81%D9%88%D9%85%D9%8A%D9%86%D8%AA%D8%A7%D8%B1%D9%8A%D9%88%D8%B3
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1799956":{"pageid":1799956,"ns":0,"title":"\u0641\u0648\u0645\u064a\u0646\u062a\u0627\u0631\u064a\u0648\u0633","revisions":[{"size":530}]}}}}'
  recorded_at: 2026-06-19 11:52:05
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/arz.wikipedia/all-access/all-agents/%D9%81%D9%88%D9%85%D9%8A%D9%86%D8%AA%D8%A7%D8%B1%D9%8A%D9%88%D8%B3/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"items":[{"project":"arz.wikipedia"[...]
- request:
    method: GET
    uri: https://atj.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Sikatakan
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"batchcomplete":"","query":{"pages":{"394":{"pageid":394,"ns":0,"title":"Sikatakan","revisions":[{"size":503}]}}}}'
  recorded_at: 2026-06-19 11:52:05
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/atj.wikipedia/all-access/all-agents/Sikatakan/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"items":[{"project":"atj.wikipedia","article":"Sikatakan","granularity":"daily","timestamp":[...]
- request:
    method: GET
    uri: https://az.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Qov+g%C3%B6b%C9%99l%C9%99yi
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"batchcomplete":"","query":{"pages":{"941103":{"pageid":941103,"ns":0,"title":"Qov
        g\u00f6b\u0259l\u0259yi","revisions":[{"size":2804}]}}}}'
  recorded_at: 2026-06-19 11:52:05
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/az.wikipedia/all-access/all-agents/Qov%20g%C3%B6b%C9%99l%C9%99yi/daily/20240101/20240131
  response:
    status: 404
    headers:
      content-type: application/problem+json
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      raw_gzip: |-
        eJw9UNtKxDAQ/ZUhUFCo2+4FYffRBR9FwR+YJmM7Nm1KMulSxX93tis+5eTk3Mi3cSTI3pzM
        e0fgUOg
        u3cMSMuREDjASzOjZldBkgQsBsXQUwQUYg0CH8+pC+AgRpAvpP6SElSGYYvgkK2so
        pl5Tr1pOa4AP6J
        RZSDbw6gnVbzuyvRbYPNAoKBzG1TEEHcOjwmElTWkG0kqn41sSvSZV52RO
        h/pQGmHxpE8v2vIc8uhUI
        Mt0pbAJWU6Nx7FXMkdWrtKsyDZVE7Y0M10UUXzAKGw9Vfi1uXDP
        EznGCr1/QGsppRtsdWeq3sJc7Oq2
        OO+Lp8emOB+L49HfjoUrp7+8VLt6d6i39fYP7Lfm5xdN
        6IG1
  recorded_at: 2026-06-19 11:52:06
- request:
    method: GET
    uri: https://be.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=%D0%93%D1%83%D0%B1%D0%B0+%D1%88%D1%8D%D1%80%D0%B0%D1%8F+%D0%B1%D1%8F%D1%80%D0%BE%D0%B7%D0%B0%D0%B2%D0%B0%D1%8F
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"batchcomplete":"","query":{"pages":{"609398":{"pageid":609398,"ns":0,"title":"\u0413\u0443\u0431\u0430
        \u0448\u044d\u0440\u0430\u044f \u0431\u044f\u0440\u043e\u0437\u0430\u0432\u0430\u044f","revisions":[{"size":2698}]}}}}'
  recorded_at: 2026-06-19 11:52:06
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/be.wikipedia/all-access/all-agents/%D0%93%D1%83%D0%B1%D0%B0%20%D1%88%D1%8D%D1%80%D0%B0%D1%8F%20%D0%B1%D1%8F%D1%80%D0%BE%D0%B7%D0%B0%D0%B2%D0%B0%D1%8F/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
    [...]
- request:
    method: GET
    uri: https://ca.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Bolet+d%27esca
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1409309":{"pageid":1409309,"ns":0,"title":"Bolet
        d''esca","revisions":[{"size":20035}]}}}}'
  recorded_at: 2026-06-19 11:52:06
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/ca.wikipedia/all-access/all-agents/Bolet%20d%27esca/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"items":[{"project":"ca.wikipedia","article":"Bolet_d''esca","granularity":"daily","ti[...]
- request:
    method: GET
    uri: https://ceb.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Fomes+fomentarius
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1786692":{"pageid":1786692,"ns":0,"title":"Fomes
        fomentarius","revisions":[{"size":5002}]}}}}'
  recorded_at: 2026-06-19 11:52:07
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/ceb.wikipedia/all-access/all-agents/Fomes%20fomentarius/daily/20240101/20240131
  response:
    status: 429
    headers:
      retry-after: '53'
      content-type: text/plain
      x-client-ip: 2a01:cb1d:8205:8e00:b555:8254:fc30:7cc5
    body:
      string: |-
        You are making too many requests to the API.
        Please follow the best practices at <https://www.mediawiki.org/wiki/Wikimedia_APIs/Rate_limits>.
        If you are unsure how to get the access you need, contact <bot-traffic@wikimedia.org>.
  recorded_at: 2026-06-19 11:52:07
- request:
    method: GET
    uri: https://co.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Esca
  response:
    status: 200
    headers:
[...]
