http_interactions:
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&type=item&language=en&limit=10&search=Amanita+muscaria&format=json
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
      x-search-id: enh2tpxyoavpoxooxjf8sm45r
    body:
      string: '{"searchinfo":{"search":"Amanita muscaria"},"search":[{"id":"Q131227","title":"Q131227","pageid":133084,"concepturi":"http://www.wikidata.org/entity/Q131227","repository":"wikidata","url":"//www.wikidata.org/wiki/Q131227","display":{"label":{"value":"Amanita
        muscaria","language":"en"},"description":{"value":"species of fungus","language":"en"}},"label":"Amanita
        muscaria","description":"species of fungus","match":{"type":"label","language":"en","text":"Amanita
        muscaria"}},{"id":"Q21870095","title":"Q21870095","pageid":23906927,"concepturi":"http://www.wikidata.org/entity/Q21870095","repository":"wikidata","url":"//www.wikidata.org/wiki/Q21870095","display":{"label":{"value":"Agaricus
        muscarius","language":"en"},"description":{"value":"species of fungus","language":"en"}},"label":"Agaricus
        muscarius","description":"species of fungus","match":{"type":"alias","language":"en","text":"Amanita
        muscaria"},"aliases":["Amanita muscaria"]},{"id":"Q585041","title":"Q585041","pageid":550419,"concepturi":"http://www.wikidata.org/entity/Q585041","repository":"wikidata","url":"//www.wikidata.org/wiki/Q585041","display":{"label":{"value":"Amanita
        muscaria var. guessowii","language":"en"},"description":{"value":"species
        of fungi","language":"en"}},"label":"Amanita muscaria var. guessowii","description":"species
        of fungi","match":{"type":"label","language":"en","text":"Amanita muscaria
       [...]
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&type=item&language=en&limit=10&search=Boletus+edulis&format=json
  response:
    status: 200
    headers:
      x-search-id: 4fu9nqbn8k36t0oh7p8o9a9tq
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"searchinfo":{"search":"Boletus edulis"},"search":[{"id":[...]
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&type=item&language=en&limit=10&search=Cantharellus+cibarius&format=json
  response:
    status: 200
    headers:
      x-search-id: 6fis4n6exf137nup7xed99a4r
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"searchinfo":{"search":"Cantharellus cibarius"},"s[...]
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q131227&format=json&props=sitelinks
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"entities":{"Q131227":{"type":"item","id":"Q131227","sitelinks":{"afwiki":{"site":"afwiki","title":"Rooihoedamaniet","badges":[]},"anwiki":{"site":"anwiki","title":"Amanita
        muscaria","badges":[]},"arwiki":{"site":"arwiki","title":"\u063a\u0627\u0631\u064a\u0642\u0648\u0646
        \u0627\u0644\u0630\u0628\u0627\u0628","badges":[]},"arzwiki":{"site":"arzwiki","title":"\u0627\u0645\u0627\u0646\u064a\u062a
        \u0627\u0644\u0637\u0627\u0626\u0631","badges":[]},"astwiki":{"site":"astwiki","title":"Amanita
        muscaria","badges":[]},"azwiki":{"site":"azwiki","title":"Mil\u00e7\u0259kq\u0131ran","badges":[]},"banwiki":{"site":"banwiki","title":"Amanita
        muscaria","badges":[]},"barwiki":{"site":"barwiki","title":"Fliangschwammal","badges":[]},"bat_smgwiki":{"site":"bat_smgwiki","title":"Mosm\u0117ris","badges":[]},"be_x_oldwiki":{"site":"be_x_oldwiki","title":"\u0427\u044b\u0440\u0432\u043e\u043d\u044b
        \u043c\u0443\u0445\u0430\u043c\u043e\u0440","badges":[]},"bewiki":{"site":"bewiki","title":"\u041c\u0443\u0445\u0430\u043c\u043e\u0440
        \u0447\u044b\u0440\u0432\u043e\u043d\u044b","badges":[]},"bgwiki":{"site":"bgwiki","title":"\u0427\u0435\u0440\u0432\u0435\u043d\u0430
        \u043c\u0443\u0445\u043e\u043c\u043e\u0440\u043a\u0430","badges":[]},"bswiki":{"site":"bswiki","title":"Muhara","badges":[]},"cawiki":{"site":"cawiki","title":"Reig
        de fageda","badges":[]},"cebwiki":{"site":"cebwiki","title":"Amanita muscaria","badges":[]},"commonswiki":{"site":"commonswiki","title":"Amanita
        muscaria","badges":[]},"csbwiki":{"site":"csbwiki","title":"Czerwiony m\u00f9ch\u00f4rz","badges":[]},"cswiki":{"site":"cswiki","title":"Muchom\u016frka
        \u010derven\u00e1","badges":[]},"cywiki":{"site":"cywiki","title":"Amanita''r
        gwybed","badges":[]},"dawiki":{"site":"dawiki","title":"R\u00f8d fluesvamp","badges":[]},"dewiki":{"site":"dewiki","title":"Fliegenpilz","badges":[]},"dsbwiki":{"site":"dsbwiki","title":"Muchorad\u0142o","badges":[]},"elwiki":{"site":"elwiki","title":"\u0391\u03bc\u03b1\u03bd\u03af\u03c4\u03b7\u03c2
        \u03bf \u03bc\u03c5\u03b3\u03bf\u03ba\u03c4\u03cc\u03bd\u03bf\u03c2","badges":[]},"enwiki":{"site":"enwiki","title":"Amanita
        muscaria","badges":["Q17437796"]},"eowiki":{"site":"eowiki","title":"Mu\u015doamanito","badges":[]},"eswiki":{"site":"eswiki","title":"Amanita
        muscaria","badges":[]},"etwiki":{"site":"etwiki","title":"Punane k\u00e4rbseseen","badges":[]},"euwiki":{"site":"euwiki","title":"Kuleto
        faltsu","badges":[]},"fawiki":{"site":"fawiki","title":"\u0642\u0627\u0631\u0686
        \u0645\u06af\u0633","badges":[]},"fiwiki":{"site":"fiwiki","title":"Punak\u00e4rp\u00e4ssieni","badges":["Q17559452"]},"frrwiki":{"site":"frrwiki","title":"Fleegenswaamp","badges":[]},"frwiki":{"site":"frwiki","title":"Amanite
        tue-mouches","badges":[]},"fywiki":{"site":"fywiki","title":"Miggeswam","badges":[]},"gawiki":{"site":"gawiki","title":"Agairg
        na gcuileanna","badges":[]},"glwiki":{"site":"glwiki","title":"Rebentabois","badges":[]},"hewiki":{"site":"hewiki","title":"\u05d0\u05de\u05e0\u05d9\u05d8\u05d4
        \u05de\u05d5\u05e1\u05db\u05e8\u05d9\u05d4","badges":[]},"hiwiki":{"site":"hiwiki","title":"\u092e\u0917\u0938
        \u0915\u0941\u0915\u0941\u0930\u092e\u0941\u0924\u094d\u0924\u093e","badges":[]},"hrwiki":{"site":"hrwiki","title":"Muhara","badges":[]},"hsbwiki":{"site":"hsbwiki","title":"Muchorizna","badges":[]},"huwiki":{"site":"huwiki","title":"L\u00e9gy\u00f6l\u0151
        gal\u00f3ca","badges":[]},"hywiki":{"site":"hywiki","title":"\u0543\u0561\u0576\u0573\u0561\u057d\u057a\u0561\u0576
        \u056f\u0561\u0580\u0574\u056b\u0580","badges":[]},"idwiki":{"site":"idwiki","title":"Amanita
        muscaria","badges":[]},"iswiki":{"site":"iswiki","title":"Berserkjasveppur","badges":[]},"itwiki":{"site":"itwiki","title":"Amanita
        muscaria","badges":[]},"itwikiquote":{"site":"itwikiquote","title":"Ovolo
        malefico","badges":[]},"jawiki":{"site":"jawiki","title":"\u30d9\u30cb\u30c6\u30f3\u30b0\u30bf\u30b1","badges":[]},"jvwiki":{"site":"jvwiki","title":"Amanita
        muscaria","badges":[]},"kabwiki":{"site":"kabwiki","title":"Amanita muscaria","badges":[]},"kawiki":{"site":"kawiki","title":"\u10ea\u10d0\u10d3\u10d0\u10db\u10d0\u10e7\u10d5\u10d0\u10dc\u10d0","badges":[]},"kowiki":{"site":"kowiki","title":"\uad11\ub300\ubc84\uc12f","badges":[]},"lawiki":{"site":"lawiki","title":"Amanita
        muscaria","badges":[]},"ltwiki":{"site":"ltwiki","title":"Paprastoji musmir\u0117","badges":[]},"lvwiki":{"site":"lvwiki","title":"Sarkan\u0101
        mu\u0161mire","badges":[]},"mkwiki":{"site":"mkwiki","title":"\u041c\u0443\u0432\u043e\u043c\u043e\u0440\u043a\u0430","badges":[]},"mlwiki":{"site":"mlwiki","title":"\u0d05\u0d2e\u0d3e\u0d28\u0d4d\u0d31\u0d3f\u0d2f
        \u0d2e\u0d38\u0d4d\u0d15\u0d3e\u0d30\u0d3f\u0d2f","badges":[]},"mswiki":{"site":"mswiki","title":"Amanita
        muscaria","badges":[]},"nahwiki":{"site":"nahwiki","title":"Tzontecomananacatl","badges":[]},"nlwiki":{"site":"nlwiki","title":"Vliegenzwam","badges":[]},"nnwiki":{"site":"nnwiki","title":"Raud
        flugesopp","badges":[]},"nowiki":{"site":"nowiki","title":"R\u00f8d fluesopp","badges":[]},"ocwiki":{"site":"ocwiki","title":"Amanita
        muscaria","badges":[]},"oswiki":{"site":"oswiki","title":"\u0421\u044b\u0440\u0445
        \u0431\u044b\u043d\u0434\u0437\u043c\u0430\u0440","badges":[]},"plwiki":{"site":"plwiki","title":"Muchomor
        czerwony","badges":[]},"pmswiki":{"site":"pmswiki","title":"Amanita muscaria","badges":[]},"pswiki":{"site":"pswiki","title":"\u0645\u0686
        \u067e\u0648\u0685\u06a9\u06cd","badges":[]},"ptwiki":{"site":"ptwiki","title":"Amanita
        muscaria","badges":[]},"rowiki":{"site":"rowiki","title":"Amanita muscaria","badges":[]},"ruwiki":{"site":"ruwiki","title":"\u041c\u0443\u0445\u043e\u043c\u043e\u0440
        \u043a\u0440\u0430\u0441\u043d\u044b\u0439","badges":[]},"scnwiki":{"site":"scnwiki","title":"Amanita
        muscaria","badges":[]},"scowiki":{"site":"scowiki","title":"Amanita muscaria","badges":[]},"shwiki":{"site":"shwiki","title":"Muhara","badges":[]},"simplewiki":{"site":"simplewiki","title":"Fly
        agaric","badges":[]},"skwiki":{"site":"skwiki","title":"Muchotr\u00e1vka \u010derven\u00e1","badges":[]},"slwiki":{"site":"slwiki","title":"Rde\u010da
        mu\u0161nica","badges":[]},"smnwiki":{"site":"smnwiki","title":"Ruopsiski\u00e4rpp\u00e1\u00e1kuob\u00e2r","badges":[]},"specieswiki":{"site":"specieswiki","title":"Amanita
        muscaria","badges":[]},"sqwiki":{"site":"sqwiki","title":"Amanita muscaria","badges":[]},"srwiki":{"site":"srwiki","title":"Muhara","badges":[]},"svwiki":{"site":"svwiki","title":"R\u00f6d
        flugsvamp","badges":[]},"tawiki":{"site":"tawiki","title":"\u0b88\u0b95\u0bcd\u0b95\u0bca\u0bb2\u0bcd\u0bb2\u0bbf\u0b95\u0bcd
        \u0b95\u0bbe\u0bb3\u0bbe\u0ba9\u0bcd\u0b95\u0bb3\u0bcd","badges":[]},"tlwiki":{"site":"tlwiki","title":"Amanita
        muscaria","badges":[]},"trwiki":{"site":"trwiki","title":"Sinek mantar\u0131","badges":[]},"ukwiki":{"site":"ukwiki","title":"\u041c\u0443\u0445\u043e\u043c\u043e\u0440
        \u0447\u0435\u0440\u0432\u043e\u043d\u0438\u0439","badges":[]},"vecwiki":{"site":"vecwiki","title":"Amanita
        muscaria","badges":[]},"viwiki":{"site":"viwiki","title":"Amanita muscaria","badges":[]},"warwiki":{"site":"warwiki","title":"Amanita
        muscaria","badges":[]},"wawiki":{"site":"wawiki","title":"Amanite towe-moxhe","badges":[]},"wuuwiki":{"site":"wuuwiki","title":"\u6bd2\u8747\u4f1e","badges":[]},"zh_yuewiki":{"site":"zh_yuewiki","title":"\u6bd2\u8805\u9d5d\u818f\u83cc","badges":[]},"zhwiki":{"site":"zhwiki","title":"\u6bd2\u8805\u5098","badges":[]}}}},"success":1}'
  recorded_at: 2026-06-17 13:53:41
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q19740&format=json&props=sitelinks
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"entities":{"Q19740":{"type":"item","id":"Q19740","sitelinks":{"anwiki":{"site":"anwiki","title":"Boletus
        edulis","badges":[]},"arwiki":{"site":"arwiki","title":"\u0628\u0648\u0644\u064a\u0637
        \u0645\u0623\u0643\u0648\u0644","badges":[]},"arzwiki":{"site":"arzwiki","title":"\u0628\u0648\u0644\u064a\u0637
        \u0645\u0627\u0643\u0648\u0644","badges":[]},"astwiki":{"site":"astwiki","title":"Boletus
        edulis","badges":[]},"banwiki":{"site":"banwiki","title":"Boletus edulis","badges":[]},"barwiki":{"site":"barwiki","title":"Stoabuiz","badges":[]},"bat_smgwiki":{"site":"bat_smgwiki","title":"Barav\u012bks","badges":[]},"bawiki":{"site":"bawiki","title":"\u041f\u0440\u043e\u0435\u043a\u0442:\u0410\u0425\u0411
        \u0442\u04e9\u0499\u04d9\u0442\u0435\u04af/\u0410\u04a1 \u0431\u04d9\u0448\u043c\u04d9\u043a","badges":[]},"be_x_oldwiki":{"site":"be_x_oldwiki","title":"\u0411\u0430\u0440\u0430\u0432\u0456\u043a","badges":[]},"bewiki":{"site":"bewiki","title":"\u0411\u0430\u0440\u0430\u0432\u0456\u043a","badges":[]},"bgwiki":{"site":"bgwiki","title":"\u041e\u0431\u0438\u043a\u043d\u043e\u0432\u0435\u043d\u0430
        \u043c\u0430\u043d\u0430\u0442\u0430\u0440\u043a\u0430","badges":[]},"bnwiki":{"site":"bnwiki","title":"\u09ac\u09cb\u09b2\u09c7\u099f\u09be\u09b8
        \u098f\u09a1\u09c1\u09b2\u09be\u09b8","badges":[]},"bswiki":{"site":"bswiki","title":"Vrganj","badges":[]},"cawiki":{"site":"cawiki","title":"Cep
        (bolet)","badges":[]},"cebwiki":{"site":"cebwiki","title":"Boletus edulis","badges":[]},"commonswiki":{"site":"commonswiki","title":"Boletus
        edulis","badges":[]},"csbwiki":{"site":"csbwiki","title":"B\u00f2rz\u00f3n","badges":[]},"cswiki":{"site":"cswiki","title":"H\u0159ib
        smrkov\u00fd","badges":[]},"cvwiki":{"site":"cvwiki","title":"\u0428\u0443\u0440
        \u043a\u0103\u043c\u043f\u0430","badges":[]},"cywiki":{"site":"cywiki","title":"Wicsen
        gron","badges":[]},"dawiki":{"site":"dawiki","title":"Karl Johan (svamp)","badges":[]},"dewiki":{"site":"dewiki","title":"Gemeiner
        Steinpilz","badges":["Q17437798"]},"elwiki":{"site":"elwiki","title":"\u0392\u03c9\u03bb\u03af\u03c4\u03b7\u03c2
        \u03bf \u03b5\u03b4\u03ce\u03b4\u03b9\u03bc\u03bf\u03c2","badges":[]},"enwiki":{"site":"enwi[...]
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q188749&format=json&props=sitelinks
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"entities":{"Q188749":{"type":"item","id":"Q188749","sitelinks":{"anwiki":{"site":"anwiki","title":"Cantharellus
        cibarius","badges":[]},"arwiki":{"site":"arwiki","title":"\u0642\u0648\u0642\u0639
        \u0623\u0635\u0641\u0631","badges":[]},"arzwiki":{"site":"arzwiki","title":"\u0641\u0637\u0631
        \u0627\u0644\u0634\u0627\u0646\u062a\u0631\u064a\u0644","badges":[]},"astwiki":{"site":"astwiki","title":"Cantharellus
        cibarius","badges":[]},"banwiki":{"site":"banwiki","title":"Cantharellus cibarius","badges":[]},"bat_smgwiki":{"site":"bat_smgwiki","title":"Lapielai\u017e\u0117","badges":[]},"bewiki":{"site":"bewiki","title":"\u041b\u0456\u0441\u0456\u0447\u043a\u0430
        \u0441\u0430\u043f\u0440\u0430\u045e\u0434\u043d\u0430\u044f","badges":[]},"bgwiki":{"site":"bgwiki","title":"\u041f\u0430\u0447\u0438
        \u043a\u0440\u0430\u043a","badges":[]},"cawiki":{"site":"cawiki","title":"Rossinyol
        (bolet)","badges":[]},"cebwiki":{"site":"cebwiki","title":"Cantharellus cibarius","badges":[]},"commonswiki":{"site":"commonswiki","title":"Cantharellus
        cibarius","badges":[]},"cowiki":{"site":"cowiki","title":"Ghjalletta","badges":[]},"csbwiki":{"site":"csbwiki","title":"Peperl\u00ebszka","badges":[]},"cswiki":{"site":"cswiki","title":"Li\u0161ka
        obecn\u00e1 (houba)","badges":[]},"dawiki":{"site":"dawiki","title":"Almindelig
        kantarel","badges":[]},"dewiki":{"site":"dewiki","title":"Echter Pfifferling","badges":[]},"enwiki":{"site":"enwiki","title":"Cantharellus
        cibarius","badges":[]},"eowiki":{"site":"eowiki","title":"Kantarelo","badges":[]},"eswiki":{"site":"eswiki","title":"Cantharellus
        cibarius","badges":[]},"etwiki":{"site":"etwiki","title":"Harilik kukeseen","badges":[]},"etwikiquote":{"site":"etwikiquote","title":"Kukeseen","badges":[]},"euwiki":{"site":"euwiki","title":"Zizahori","badges":[]},"fawiki":{"site":"fawiki","title":"\u0642\u0627\u0631\u0686
        \u0642\u06cc\u0641\u06cc","badges":[]},"fiu_vrowiki":{"site":"fiu_vrowiki","title":"Kikkasiin","badges":[]},"fiwiki":{"site":"fiwiki","title":"Keltavahvero","badges":[]},"frrwiki":{"site":"frrwiki","title":"H\u00f6\u00f6nkum","badges":[]},"frwiki":{"site":"frwiki","title":"Cantharellus
        cibarius","badges":[]},"gawiki":{"site":"gawiki","title":"Cantarnaid","badges":[]},"glwiki":{"site":"glwiki","title":"Cantarela","badges":[]},"hewiki":{"site":"hewiki","title":"\u05d2\u05d1\u05d9\u05e2\u05d5\u05e0\u05d9\u05ea
        \u05e0\u05d0\u05db\u05dc\u05ea","badges":[]},"hrwiki":{"site":"hrwiki","title":"Lisi\u010dka","badges":[]},"huwiki":{"site":"huwiki","title":"S\u00e1rga
        r\u00f3kagomba","badges":[]},"idwiki":{"site":"idwiki","title":"Cantharellus
        cibarius","badges":[]},"iowiki":{"site":"iowiki","title":"Kantarelo","badges":[]},"iswiki":{"site":"iswiki","title":"Kantarella","badges":[]},"itwiki":{"site":"itwiki","title":"Cantharellus
        cibarius","badges":[]},"jawiki":{"site":"jawiki","title":"\u30a2\u30f3\u30ba\u30bf\u30b1","badges":[]},"kawiki":{"site":"kawiki","title":"\u10db\u10d8\u10e5\u10da\u10d8\u10dd","badges":[]},"kowiki":{"site":"kowiki","title":"\uaf80\uaf2c\ub9ac\ubc84\uc12f","badges":[]},"lawiki":{"site":"lawiki","title":"Cantharellus
        cibarius","badges":[]},"lmowiki":{"site":"lmowiki","title":"Cantharellus cibarius","badges":[]},"ltwiki":{"site":"ltwiki","title":"Valgomoji
        voverait\u0117","badges":[]},"lvwiki":{"site":"lvwiki","title":"Parast\u0101
        gailene","badges":[]},"mkwiki":{"site":"mkwiki","title":"\u041b\u0438\u0441\u0438\u0447\u0430\u0440\u043a\u0430","badges":[]},"mrjwiki":{"site":"mrjwiki","title":"\u041f\u0438\u0442\u044c\u04f9\u0440\u0432\u043e\u043d\u0433\u044b","badges":[]},"myvwiki":{"site":"myvwiki","title":"\u0420\u0438\u0432\u0435\u0437\u044c
        \u043f\u0430\u043d\u0433\u043e","badges":[]},"mznwiki":{"site":"mznwiki","title":"\u0632\u0631\u062f\u06a9\u06cc\u062c\u0627","badges":[]},"nlwiki":{"site":"nlwiki","title":"Hanenkam
        (zwam)","badges":[]},"nnwiki":{"site":"nnwiki","title":"Kantarell","badges":[]},"nowiki":{"site":"nowiki","title":"Kantarell","badges":[]},"ocwiki":{"site":"ocwiki","title":"Cantharellus
        cibarius","badges":[]},"olowiki":{"site":"olowiki","title":"Keldusieni","badges":[]},"oswiki":{"site":"oswiki","title":"\u0411\u0443\u0440\u0437\u043e\u043a\u044a\u043e","badges":[]},"plwiki":{"site":"plwiki","title":"Pieprznik
        jadalny","badges":[]},"pmswiki":{"site":"pmswiki","title":"Cantharellus cibarius","badges":[]},"ptwiki":{"site":"ptwiki","title":"Cantharellus
        cibarius","badges":[]},"rowiki":{"site":"rowiki","title":"Cantharellus cibarius","badges":[]},"ruwiki":{"site":"ruwiki","title":"\u041b\u0438\u0441\u0438\u0447\u043a\u0430
        \u043e\u0431\u044b\u043a\u043d\u043e\u0432\u0435\u043d\u043d\u0430\u044f","badges":[]},"ruwikinews":{"site":"ruwikinews","title":"\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f:\u041b\u0438\u0441\u0438\u0447\u043a\u0430
        \u043e\u0431\u044b\u043a\u043d\u043e\u0432\u0435\u043d\u043d\u0430\u044f","badges":[]},"ruwikiquote":{"site":"ruwikiquote","title":"\u041b\u0438\u0441\u0438\u0447\u043a\u0430","badges":[]},"sewiki":{"site":"sewiki","title":"Kantarella","badges":[]},"simplewiki":{"site":"simplewiki","title":"Chanterelle","badges":[]},"skwiki":{"site":"skwiki","title":"Kuriatko
        jedl\u00e9","badges":[]},"slwiki":{"site":"slwiki","title":"Navadna lisi\u010dka","badges":[]},"specieswiki":{"site":"specieswiki","title":"Cantharellus
        cibarius","badges":[]},"srwiki":{"site":"srwiki","title":"Lisi\u010darka","badges":[]},"svwiki":{"site":"svwiki","title":"Kantarell","badges":[]},"trwiki":{"site":"trwiki","title":"Cantharellus
        cibarius","badges":[]},"ukwiki":{"site":"ukwiki","title":"\u041b\u0438\u0441\u0438\u0447\u043a\u0430
        \u0441\u043f\u0440\u0430\u0432\u0436\u043d\u044f","badges":[]},"vecwiki":{"site":"vecwiki","title":"Cantharellus
        cibarius","badges":[]},"viwiki":{"site":"viwiki","title":"N\u1ea5m m\u1ed3ng
        g\u00e0","badges":[]},"warwiki":{"site":"warwiki","title":"Cantharellus cibarius","badges":[]},"wuuwiki":{"site":"wuuwiki","title":"\u9e21\u6cb9\u83c7","badges":[]},"zh_yuewiki":{"site":"zh_yuewiki","title":"\u96de\u6cb9\u83c7","badges":[]},"zhwiki":{"site":"zhwiki","title":"\u9e21\u6cb9\u83cc","badges":[]}}}},"success":1}'
  recorded_at: 2026-06-17 13:53:42
- request:
    method: GET
    uri: https://af.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Rooihoedamaniet
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"batchcomplete":"","query":{"pages":{"124392":{"pageid":124392,"ns":0,"title":"Rooihoedamaniet","revisions":[{"size":2779}]}}}}'
  recorded_at: 2026-06-17 13:53:42
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/af.wikipedia/all-access/all-agents/Rooihoedamaniet/daily/20260518/20260616
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"items":[{"project":"af.wikipedia","article":"Rooihoedamaniet","granularity":"daily","timestamp":"2026051800","access":"all-access","agent":"all-agents","views":1},{"project":"af.wikipedia","article":"Rooihoedamaniet","granularity":"daily","timestamp":"2026051900","access":"all-access","agent":"all-agents","views":3},{"project":"af.wikipedia","article":"Rooihoedamaniet","granularity":"daily","timestamp":"2026052000","access":"all-access","agent":"all-agents","views":7},{"project":"af.wikipedia","article":"Rooihoedamaniet","granularity":"daily","timestamp":"2026052100","access":"all-access","agent":"all-agents","views":3},{"project":"af.wikipedia","artic[...]
- request:
    method: GET
    uri: https://an.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Amanita+muscaria
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"batchcomplete":"","query":{"pages":{"141435":{"pageid":141435,"ns":0,"title":"Amanita
        muscaria","revisions":[{"size":2596}]}}}}'
  recorded_at: 2026-06-17 13:53:42
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/an.wikipedia/all-access/all-agents/Amanita%20muscaria/daily/20260518/20260616
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"items":[{"project":"an.wikipedia","article":"Amanita_muscaria","granularity":"daily[...]
- request:
    method: GET
    uri: https://ar.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=%D8%BA%D8%A7%D8%B1%D9%8A%D9%82%D9%88%D9%86+%D8%A7%D9%84%D8%B0%D8%A8%D8%A7%D8%A8
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1664655":{"pageid":1664655,"ns":0,"title":"\u063a\u0627\u0631\u064a\u0642\u0648\u0646
        \u0627\u0644\u0630\u0628\u0627\u0628","revisions":[{"size":15054}]}}}}'
  recorded_at: 2026-06-17 13:53:43
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/ar.wikipedia/all-access/all-agents/%D8%BA%D8%A7%D8%B1%D9%8A%D9%82%D9%88%D9%86%20%D8%A7%D9%84%D8%B0%D8%A8%D8%A7%D8%A8/daily/20260518/20260616
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"items":[{"project":"[...]
- request:
    method: GET
    uri: https://arz.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=%D8%A7%D9%85%D8%A7%D9%86%D9%8A%D8%AA+%D8%A7%D9%84%D8%B7%D8%A7%D8%A6%D8%B1
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1748157":{"pageid":1748157,"ns":0,"title":"\u0627\u0645\u0627\u0646\u064a\u062a
        \u0627\u0644\u0637\u0627\u0626\u0631","revisions":[{"size":535}]}}}}'
  recorded_at: 2026-06-17 13:53:43
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/arz.wikipedia/all-access/all-agents/%D8%A7%D9%85%D8%A7%D9%86%D9%8A%D8%AA%20%D8%A7%D9%84%D8%B7%D8%A7%D8%A6%D8%B1/daily/20260518/20260616
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"items":[{"project":"arz.w[...]
- request:
    method: GET
    uri: https://ast.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Amanita+muscaria
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"batchcomplete":"","query":{"pages":{"63935":{"pageid":63935,"ns":0,"title":"Amanita
        muscaria","revisions":[{"size":12515}]}}}}'
  recorded_at: 2026-06-17 13:53:44
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/ast.wikipedia/all-access/all-agents/Amanita%20muscaria/daily/20260518/20260616
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"items":[{"project":"ast.wikipedia","article":"Amanita_muscaria","granularity":"dai[...]
- request:
    method: GET
    uri: https://az.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Mil%C3%A7%C9%99kq%C4%B1ran
  response:
    status: 429
    headers:
      content-type: text/plain
      retry-after: '16'
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: |-
        You are making too many requests to the API.
        Please follow the best practices at <https://www.mediawiki.org/wiki/Wikimedia_APIs/Rate_limits>.
        If you are unsure how to get the access you need, contact <bot-traffic@wikimedia.org>.
  recorded_at: 2026-06-17 13:53:44
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/az.wikipedia/all-access/all-agents/Mil%C3%A7%C9%99kq%C4%B1ran/daily/20260518/20260616
  response:
    status: 429
    headers:
      retry-after: '16'
      content-type: text/plain
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: |-
        You are making too many requests to the API.
        Please follow the best practices at <https://www.mediawiki.org/wiki/Wikimedia_APIs/Rate_limits>.
        If you are unsure how to get the access you need, contact <bot-traffic@wikimedia.org>.
  recorded_at: 2026-06-17 13:53:44
- request:
    method: GET
    uri: https://ban.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Amanita+muscaria
  response:
    status: 429
    headers:
      content-type: text/plain
      retry-after: '15'
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: |-
        You are making too many requests to the API.
        Please follow the best practices at <https://www.mediawiki.org/wiki/Wikimedia_APIs/Rate_limits>.
        If you are unsure how to get the access you need, contact <bot-traffic@wikimedia.org>.
  recorded_at: 2026-06-17 13:53:45
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/ban.wikipedia/all-access/all-agents/Amanita%20muscaria/daily/20260518/20260616
  response:
    status: 429
    headers:
      retry-after: '15'
      content-type: text/plain
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: |-
        You are making too many requests to the API.
        Please follow the best practices at <https://www.mediawiki.org/wiki/Wikimedia_APIs/Rate_limits>.
        If you are unsure how to get the access you need, contact <bot-traffic@wikimedia.org>.
  recorded_at: 2026-06-17 13:53:45
- request:
    method: GET
    uri: https://bar.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Fliangschwammal
  response:
    status: 429
    headers:
      content-type: text/plain
      retry-after: '15'
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: |-
        You are making too many requests to the API.
        Please follow the best practices at <https://www.mediawiki.org/wiki/Wikimedia_APIs/Rate_limits>.
        If you are unsure how to get the access you need, contact <bot-traffic@wikimedia.org>.
  recorded_at: 2026-06-17 13:53:45
- request:
    method: GET
[...]
