http_interactions:
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q10723171&format=json&props=sitelinks
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"entities":{"Q10723171":{"type":"item","id":"Q10723171","sitelinks":{"cebwiki":{"site":"cebwiki","title":"Xylobolus
        subpileatus","badges":[]},"commonswiki":{"site":"commonswiki","title":"Category:Xylobolus
        subpileatus","badges":[]},"enwiki":{"site":"enwiki","title":"Xylobolus subpileatus","badges":[]},"svwiki":{"site":"svwiki","title":"Xylobolus
        subpileatus","badges":[]},"szlwiki":{"site":"szlwiki","title":"Xylobolus subpileatus","badges":[]},"warwiki":{"site":"warwiki","title":"Xylobolus
        subpileatus","badges":[]}}}},"success":1}'
  recorded_at: 2026-06-17 13:59:38
recorded_with: VCR-vcr/2.1.0
