http_interactions:
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q999999999999&format=json&props=sitelinks
  response:
    status: 200
    headers:
      mediawiki-api-error: no-such-entity
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"error":{"code":"no-such-entity","info":"Could not find an entity
        with the ID \"Q999999999999\".","id":"Q999999999999","messages":[{"name":"wikibase-api-no-such-entity","parameters":["Q999999999999"],"html":{"*":"Could
        not find an entity with the ID \"Q999999999999\"."}}],"*":"See https://www.wikidata.org/w/api.php
        for API usage. Subscribe to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/&gt;
        for notice of API deprecations and breaking changes."},"servedby":"mw-api-ext.eqiad.main-86d4bf5895-7g5lk"}'
  recorded_at: 2026-06-17 13:59:39
recorded_with: VCR-vcr/2.1.0
