http_interactions:
- request:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q10723171&format=json&props=sitelinks
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"entities":{"Q10723171":{"type":"item","id":"Q10723171","sitelinks":{"cebwiki":{"site":"cebwiki","title":"Xylobolus
        subpileatus","badges":[]},"commonswiki":{"site":"commonswiki","title":"Category:Xylobolus
        subpileatus","badges":[]},"enwiki":{"site":"enwiki","title":"Xylobolus subpileatus","badges":[]},"svwiki":{"site":"svwiki","title":"Xylobolus
        subpileatus","badges":[]},"szlwiki":{"site":"szlwiki","title":"Xylobolus subpileatus","badges":[]},"warwiki":{"site":"warwiki","title":"Xylobolus
        subpileatus","badges":[]}}}},"success":1}'
  recorded_at: 2026-06-17 14:06:34
- request:
    method: GET
    uri: https://ceb.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Xylobolus+subpileatus
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1784955":{"pageid":1784955,"ns":0,"title":"Xylobolus
        subpileatus","revisions":[{"size":3588}]}}}}'
  recorded_at: 2026-06-17 14:06:34
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/ceb.wikipedia/all-access/all-agents/Xylobolus%20subpileatus/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"items":[{"project":"ceb.wikipedia","article":"Xylobolus_subpileatus","granularity":"daily","timestamp":"2024010200","access":"all-access","agent":"all-agents","views":1},{"project":"ceb.wikipedia","article":"Xylobolus_subpileatus","granularity":"daily","timestamp":"2024010300","access":"all-access","agent":"all-agents","views":1},{"project":"ceb.wikipedia","article":"Xylobolus_subpileatus","granularity":"daily","timestamp":"2024010400","access":"all-access","agent":"all-agents","views":1},{"project":"ceb.wikipedia","article":"Xylobolus_subpileatus","granularity":"daily","timestamp":"2024010500","access":"all-access","agent":"all-agents","views":1},{"project":"ceb.wikipedia","article":"Xylobolus_subpileatus","granularity":"daily","timestamp":"2024010600","access":"all-access","agent":"all-agents","views":1},{"project":"ceb.wikipedia","article":"Xylobolus_subpileatus","granularity":"daily","timestamp":"2024012000","access":"all-access","agent":"all-agents","views":1},{"project":"ceb.wikipedia","article":"Xylobolus_subpileatus","granularity":"daily","timestamp":"2024012500","access":"all-access","agent":"all-agents","views":1}]}'
  recorded_at: 2026-06-17 14:06:35
- request:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Xylobolus+subpileatus
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"batchcomplete":"","query":{"pages":{"44125632":{"pageid":44125632,"ns":0,"title":"Xylobolus
        subpileatus","revisions":[{"size":7137}]}}}}'
  recorded_at: 2026-06-17 14:06:35
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/all-agents/Xylobolus%20subpileatus/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"items":[{"project":"en.wikipedia","article":"Xylobolus_subpileatus","granulari[...]
- request:
    method: GET
    uri: https://sv.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Xylobolus+subpileatus
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1772104":{"pageid":1772104,"ns":0,"title":"Xylobolus
        subpileatus","revisions":[{"size":2831}]}}}}'
  recorded_at: 2026-06-17 14:06:36
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/sv.wikipedia/all-access/all-agents/Xylobolus%20subpileatus/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"items":[{"project":"sv.wikipedia","article":"Xylobolus_subpileatus","granulari[...]
- request:
    method: GET
    uri: https://szl.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Xylobolus+subpileatus
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"batchcomplete":"","query":{"pages":{"60553":{"pageid":60553,"ns":0,"title":"Xylobolus
        subpileatus","revisions":[{"size":2746}]}}}}'
  recorded_at: 2026-06-17 14:06:37
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/szl.wikipedia/all-access/all-agents/Xylobolus%20subpileatus/daily/20240101/20240131
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"items":[{"project":"szl.wikipedia","article":"Xylobolus_subpileatus","granula[...]
- request:
    method: GET
    uri: https://war.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=size&titles=Xylobolus+subpileatus
  response:
    status: 200
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1920188":{"pageid":1920188,"ns":0,"title":"Xylobolus
        subpileatus","revisions":[{"size":4078}]}}}}'
  recorded_at: 2026-06-17 14:06:38
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/war.wikipedia/all-access/all-agents/Xylobolus%20subpileatus/daily/20240101/20240131
  response:
    status: 429
    headers:
      retry-after: '22'
      content-type: text/plain
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: |-
        You are making too many requests to the API.
        Please follow the best practices at <https://www.mediawiki.org/wiki/Wikimedia_APIs/Rate_limits>.
        If you are unsure how to get the access you need, contact <bot-traffic@wikimedia.org>.
  recorded_at: 2026-06-17 14:06:38
[...]
- request:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/war.wikipedia/all-access/all-agents/Xylobolus%20subpileatus/daily/20240101/20240131
  response:
    status: 429
    headers:
      retry-after: '18'
      content-type: text/plain
      x-client-ip: 2a01:cb1d:8205:8e00:da6d:722f:c14f:fbf4
    body:
      string: |-
        You are making too many requests to the API.
        Please follow the best practices at <https://www.mediawiki.org/wiki/Wikimedia_APIs/Rate_limits>.
        If you are unsure how to get the access you need, contact <bot-traffic@wikimedia.org>.
  recorded_at: 2026-06-17 14:06:43
recorded_with: VCR-vcr/2.1.0
